<template>
	<div>
		<v-card min-height="50" tile class="text-center" v-if="user.alamat == ''">
			<v-card-text>Yuk, lengkapi profilmu agar akun terverifikasi! <router-link to="/profile">disini</router-link></v-card-text>
		</v-card>
		<v-col cols="12">
			<v-card min-height="250" flat>
				<v-card-title>
					<v-icon left color="black">
						mdi-clock-outline
					</v-icon>
					<span class="title font-weight-bold">History</span>
					<v-divider
						class="mx-3"
						inset
						vertical
					></v-divider>
					<span class="title font-weight-light">Transaction</span>
				</v-card-title>
				<v-divider></v-divider>

				<template v-if="loading">
					<v-skeleton-loader class="mx-auto py-4" type="article, article"></v-skeleton-loader>
				</template>

				<template v-else>
					<v-card flat class="pt-8">
						<div v-if="histories != null && histories.length > 0">
							<span v-for="a in histories" :key="a">
								<v-row>
									<v-col cols="12">{{ a.detail[0].tanggal+' '+a.detail[0].jam }}</v-col>
									<v-col cols="12">
										Pembelian Tiket <span class="font-weight-bold">{{ a.judul }}</span> Telah kami terima
										<template>
											<v-expansion-panels flat="" style="margin-left:-24px" class="body">
												<v-expansion-panel>
													<v-expansion-panel-header class="pink--text text-darken-3 font-weight-bold">Detail Pembelian</v-expansion-panel-header>
													<v-expansion-panel-content>
														<v-simple-table>
															<template v-slot:default>
																<tbody>
																	<tr>
																		<td>Methode</td>
																		<td>: {{ a.detail[0].method }}</td>
																	</tr>
																	<tr>
																		<td>Provider</td>
																		<td>: {{ a.detail[0].provider }} </td>
																	</tr>
																	<tr>
																		<td>Amount</td>
																		<td>: {{ a.detail[0].transfer }}</td>
																	</tr>
																</tbody>
															</template>
														</v-simple-table>
													</v-expansion-panel-content>
												</v-expansion-panel>
											</v-expansion-panels>
										</template>
									</v-col>
								</v-row>
							</span>
						</div>
						<div v-else>
							{{ text }}<br>
							<v-btn color="green" to="/dashboard" dark class="my-4">Buy Ticket</v-btn>
						</div>
					</v-card>
				</template>
			</v-card>
		</v-col>
	</div>
</template>

<script>
import MoviesService from '@/services/MovieService'
export default {
	components: {
	},
	data: () => ({
		loading: true,
		user: [],
		histories: [],
		text: '',
		status: 1,
  }),
	computed: {
		userData() {
			return this.$store.state.authData.loggedInUser
		}
	},
	methods: {
		async historyPayment() {
			try {
				const user    = JSON.parse(this.userData)
				const data    = {
					'userid': user.userid,
					'token': localStorage.getItem("access-token"),
				}
				const response  = await MoviesService.historyPayment(data)
				const histories = response.data

				if(histories.success == true) {
					this.histories = histories.listpayment
					localStorage.setItem("access-token", histories.token)
				} else {
					this.status = 1
					this.text 	= histories.message
				}

				this.loading  = false
			} catch (error) {
				console.log(error)
			}
		},
	},
	mounted () {
		this.user = JSON.parse(this.userData)
		this.historyPayment()
	},
}
</script>

<style lang="scss" scoped>
  .v-application .my-2{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
</style>
