<template>
	<div>
		<v-card min-height="50" tile class="text-center" v-if="user.alamat == ''">
			<v-card-text>Yuk, lengkapi profilmu agar akun terverifikasi! <router-link to="/profile">disini</router-link></v-card-text>
		</v-card>
    <v-row class="mx-auto">
			<v-col cols="12">
				<v-row class="mx-2">
					<v-col cols="12">
						<v-card color="transparent" class="text-center">
							<v-img
								class="white--text align-end"
								max-height="250"
								min-height="250"
								src="@/assets/avatar/avatar.svg"
								lazy-src="@/assets/avatar/avatar.svg"
							>
								<template v-slot:placeholder>
									<v-row
										class="fill-height ma-0"
										align="center"
										justify="center"
									>
										<v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
									</v-row>
								</template>
							</v-img>
						</v-card>
					</v-col>
					<v-col cols="12">
						<v-card min-height="250" flat>
							<v-card-title>
								<v-icon
									left
									color="black"
								>
									mdi-account
								</v-icon>
								<span class="title font-weight-bold">Profile</span>
								<v-divider
									class="mx-3"
									inset
									vertical
								></v-divider>
								<span class="title font-weight-light">Account</span>
							</v-card-title>
							<v-divider></v-divider>
							<v-form class="" v-model="valid">
								<v-row>
									<v-col
										cols="12"
									>
										<v-text-field
											:value="user.email"
											label="Email"
											disabled
											class="blo my-2"
											outlined=""
											hide-details=""
										></v-text-field>
									</v-col>
									<v-col
										cols="12"
									>
										<v-text-field
											:value="user.nama"
											label="Username"
											:rules="username"
											disabled
											class="blo my-2"
											outlined=""
											hide-details=""
										></v-text-field>
									</v-col>
									<v-col
										cols="12"
									>
										<v-select
											:value="user.gender"
											:items="sex"
											item-text="name"
											item-value="id"
											class="blo my-2"
											outlined=""
											hide-details=""
											disabled
										>
											<template v-slot:label>
												<div>
													Sex
												</div>
											</template>
										</v-select>
									</v-col>
									<v-col
										cols="12"
									>
										<v-text-field
											v-model="user.phone"
											label="No Telp"
											:rules="noTelp"
											required
											class="blo my-2"
											outlined=""
											hide-details=""
										></v-text-field>
									</v-col>
									<v-col
										cols="12"
									>
										<v-textarea
											v-model="user.alamat"
											class="blo my-2"
											outlined=""
											hide-details=""
										>
											<template v-slot:label>
												<div>
													Address <small>(optional)</small>
												</div>
											</template>
										</v-textarea>
									</v-col>
									<v-col
										cols="12"
									>
										<v-btn
											large
											block=""
											height="50"
											color="pink darken-3"
											class="mr-4 my-2 white--text"
											:disabled="!valid"
											:loading="loadingUpdateProfile"
											@click="updateProfile()"
										>
											Update
										</v-btn>
									</v-col>
								</v-row>
							</v-form>
						</v-card>
					</v-col>
				</v-row>
			</v-col>
    </v-row>
		<v-snackbar
			v-model="snackbar"
			:timeout="timeout"
			:color="color"
		>
			{{ text }}
			<v-btn
				color="white"
				text
				@click="snackbar = false"
			>
				Close
			</v-btn>
		</v-snackbar>
	</div>
</template>

<script>
import MoviesService from '@/services/MovieService'
export default {
	components: {
	},
	data () {
		return {
			user: [],
			valid: true,
			username: [
				v => !!v || 'Username is required',
			],
			noTelp: [
				v => !!v || 'No Telp is required',
			],
			sex: [
				{
					id: 0,
					name: 'Female'
				},
				{
					id: 1,
					name: 'Male'
				}
			],
			userInfo: {
				phone: null,
				alamat: null,
			},
			loadingUpdateProfile: false,
			snackbar: false,
			text: '',
			timeout: 3000,
		}
	},
	computed: {
		userData() {
			return this.$store.state.authData.loggedInUser
		}
	},
	methods: {
		async updateProfile() {

			this.loadingUpdateProfile = true

			const user    = JSON.parse(this.userData)
			const data  = {
				'userid': user.userid,
				'token': localStorage.getItem("access-token"),
				'phone': this.user.phone,
				'alamat': this.user.alamat,
			}

			const response  = await MoviesService.updateProfile(data)
			const res 			= response.data
			if(res.success == true) {
				localStorage.setItem("access-token", res.token);
        localStorage.setItem("userInfo", JSON.stringify(res));
			}

			this.loadingUpdateProfile = false
			this.snackbar = true
			this.color 		= 'success'
			this.text  		= 'Update Profile Successfully'
			
			setTimeout(() => {
				location.reload()
			}, 3000);
		}
	},
	mounted () {
		this.user = JSON.parse(this.userData)
	},
}
</script>

<style lang="scss" scoped>
  // .v-application .my-2{
  //   margin-top: 0 !important;
  //   margin-bottom: 0 !important;
  // }
</style>
