<template>
	<div>
		<v-card min-height="50" tile class="text-center" v-if="user.alamat == ''">
			<v-card-text>Yuk, lengkapi profilmu agar akun terverifikasi! <router-link to="/profile">disini</router-link></v-card-text>
		</v-card>
		<v-col cols="12">
			<v-card min-height="250" flat>
				<v-card-title>
					<v-icon left color="black">
						mdi-cog
					</v-icon>
					<span class="title font-weight-bold">Settings</span>
					<v-divider
						class="mx-3"
						inset
						vertical
					></v-divider>
					<span class="title font-weight-light">Update Password</span>
				</v-card-title>
				<v-divider></v-divider>
				<v-form class="pa-4 mx-4" v-model="valid">
					<v-row>
						<v-col cols="12">
							<v-text-field
								v-model="paramBody.oldpass"
								:append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
								:type="showPassword ? 'text' : 'password'"
								name="old password"
								label="Password"
								class="blo my-2"
								outlined=""
								hide-details=""
								@click:append="showPassword = !showPassword"
							></v-text-field>
						</v-col>
						<v-col cols="12">
							<v-text-field
								v-model="paramBody.newpass"
								:append-icon="showPasswordNew ? 'mdi-eye' : 'mdi-eye-off'"
								:rules="passwordRules"
								:type="showPasswordNew ? 'text' : 'password'"
								name="new password"
								label="New Password"
								class="blo"
								outlined=""
								hide-details=""
								@click:append="showPasswordNew = !showPasswordNew"
							></v-text-field>
						</v-col>
						<v-col cols="12">
							<v-text-field
								v-model="paramBody.confirmpass"
								:append-icon="showPasswordConf ? 'mdi-eye' : 'mdi-eye-off'"
								:rules="passwordRulesConf"
								:type="showPasswordConf ? 'text' : 'password'"
								name="password confirmation"
								label="Confirm Password"
								class="blo"
								outlined=""
								hide-details=""
								@click:append="showPasswordConf = !showPasswordConf"
							></v-text-field>
						</v-col>
						<v-col cols="12">
							<v-btn block large height="50" color="pink darken-3" class="mr-4 my-2 white--text" @click="updatePassword()" :loading="loading" :disabled="!valid">
								Submit
							</v-btn>
						</v-col>
					</v-row>
				</v-form>
			</v-card>
		</v-col>
		<v-snackbar
			v-model="snackbar"
			:timeout="timeout"
			:color="color"
		>
			{{ text }}
			<v-btn
				color="white"
				text
				@click="snackbar = false"
			>
				Close
			</v-btn>
		</v-snackbar>
	</div>
</template>

<script>
import MoviesService from '@/services/MovieService'
export default {
	components: {
	},
	data: () => ({
		loading: false,
		user: [],
    paramBody: {
			email: '',
			oldpass: '',
			newpass: '',
			confirmpass: '',
		},
    valid: true,
    showPassword: false,
    showPasswordNew: false,
    showPasswordConf: false,
    passwordRules: [
      v => !!v || 'New password is required',
		],
		passwordRulesConf: [
      v => !!v || 'Confirmation password is required',
    ],
    snackbar: false,
    text: '',
    timeout: 2000,
    color: '',
  }),
	computed: {
		userData() {
			return this.$store.state.authData.loggedInUser
		}
	},
	methods: {
		async updatePassword() {
			try {
				this.loading  = true
				const user    = JSON.parse(this.userData)
				const data    = {
					'userid': user.userid,
					'token': localStorage.getItem("access-token"),
					'email': user.email,
					'oldpass': this.paramBody.oldpass,
					'newpass': this.paramBody.newpass,
					'confirmpass': this.paramBody.confirmpass,
				}
				const response  = await MoviesService.updatePassword(data)
				console.log(response.data);

				if(response.data.success == true) {
					// this.$refs.form.reset()
					let message = response.data.message
					let status	= true
					this.makeSnackbar(message, status)	

					setTimeout(() => {
						location.reload()
					}, 2000);

				} else {
					let message = response.data.message
					let status	= false
					this.makeSnackbar(message, status)
				}
			} catch (error) {
				console.log(error)
			}
		},
		makeSnackbar(message, status) {
      this.snackbar = true
      this.loading  = false
      this.color  	= status == true ? 'green' : 'red'
      this.text  		= message
    },
	},
	mounted () {
		this.user = JSON.parse(this.userData)
	},
}
</script>

<style lang="scss" scoped>
  .v-application .my-2{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
</style>
