<template>
	<div>
		<!-- <v-row> -->
			<v-card min-height="130" min-width="100%" color="pink" flat tile class="text-center">
				<p class="title white--text font-weight-bold px-12 pt-5">FAQ</p>
				<p class="subtitle-1 white--text px-12" style="margin-top:-10px">Frequently Asked Questions</p>
				<!-- <v-form
					class="mx-12 pb-8"
				>
					<v-text-field
						model="query"
						solo
						class="blo my-2"
						light=""
						placeholder="Apa yang ingin ditanyakan?"
					></v-text-field>
				</v-form> -->
			</v-card>
			<v-card
				min-height="50"
				min-width="100%"
				color="grey lighten-4"
				flat
				tile
				class="pa-5"
			>
				<span class="font-weight-bold px-4">Hal yang sering ditanyakan</span>
			</v-card>
			<v-expansion-panels focusable accordion="" tile="" class="mb-4">
				<v-expansion-panel>
					<v-expansion-panel-header class="subtitle-2 font-weight-regular pa-5 px-8 black--text">1. Apa itu Yukflix?</v-expansion-panel-header>
					<v-expansion-panel-content>
						<v-list>
							<v-list-item>
								<p class="caption"> <strong>Yukflix adalah platform multi-fungsi industri film berbasis koperasi.</strong> Yukflix merupakan wadah bagi anak muda Indonesia untuk berpartisipasi dalam pengembangan industri perfilman Indonesia.</p>
							</v-list-item>
							<v-list-item>
								<p class="caption"> Saat ini Yukflix menyediakan layanan : <br>
								Layanan streaming film berbasis website yang mengedepankan film-film produksi pelajar, mahasiswa dan komunitas di Indonesia <br>
								Layanan pelatihan online produksi film yang komprehensif dan mudah dipelajari.</p>
							</v-list-item>
							<v-list-item>
								<p class="caption"> User dapat menonton film di platform Yukflix www.yukflix.com melalui browser di desktop maupun mobile, selama terkoneksi ke internet.</p>
							</v-list-item>
							<v-list-item>
								<p class="caption"> Sebagai platform berbasis koperasi, maka setiap user Yukflix secara otomatis bisa menjadi anggota koperasi milenial dan bergabung dengan berbagai unit bisnis di dalamnya sesuai dengan syarat dan ketentuan yang berlaku. Hal-hal selengkapnya mengenai koperasi milenial silahkan kunjungi www.kinaryacoop.com</p>
							</v-list-item>
						</v-list>
					</v-expansion-panel-content>
				</v-expansion-panel>

				<v-expansion-panel>
					<v-expansion-panel-header class="subtitle-2 font-weight-regular pa-5 px-8 black--text">2. Bagaimana sistem menonton di Yukflix?</v-expansion-panel-header>
					<v-expansion-panel-content>
						<v-list>
							<v-list-item>
								<p class="caption"> Sistem menonton di Yukflix adalah pay-per-view yaitu user membayar 1 tiket menonton online untuk 1 film yang ada di platform Yukflix.</p>
							</v-list-item>
							<v-list-item>
								<p class="caption"> Setelah melakukan pembayaran maka user sudah memiliki akses untuk menekan tombol putar film dan dapat menonton film tersebut.</p>
							</v-list-item>
							<v-list-item>
								<p class="caption"> Jika user sudah menekan tombol putar untuk film yang sudah dibeli tiketnya, maka user memiliki waktu 7 x 24 jam untuk menyelesaikan menonton film tersebut. Selama periode 7 x 24 jam tersebut, film dapat ditonton berkali-kali. Tetapi setelah periode 7 x 24 jam berakhir, maka secara otomatis user tidak akan dapat mengakses film tersebut lagi.</p>
							</v-list-item>
						</v-list>
					</v-expansion-panel-content>
				</v-expansion-panel>
				
				<v-expansion-panel>
					<v-expansion-panel-header class="subtitle-2 font-weight-regular pa-5 px-8 black--text">3. Berapa biaya 1 tiket menonton di Yukflix?</v-expansion-panel-header>
					<v-expansion-panel-content>
						<v-list>
							<v-list-item>
								<p class="caption"> Biaya 1 tiket menonton di Yukflix berbeda-beda sesuai dengan jenis film yang dipilih.</p>
							</v-list-item>
						</v-list>
					</v-expansion-panel-content>
				</v-expansion-panel>
				
				<v-expansion-panel>
					<v-expansion-panel-header class="subtitle-2 font-weight-regular pa-5 px-8 black--text">4. Bagaimana metode pembayaran tiket nonton di Yuflix?</v-expansion-panel-header>
					<v-expansion-panel-content>
						<v-list>
							<v-list-item>
								<p class="caption"> 1. Transfer Bank</p>
							</v-list-item>
							<v-list-item>
								<p class="caption"> 2. Kartu Kredit (Pembayaran menggunakan kartu kredit dikenakan tambahan biaya 2,5% dari nilai transaksi dan biaya administrasi Rp 3,000,- per transaksi)</p>
							</v-list-item>
							<v-list-item>
								<p class="caption"> 3. QRIS (Quick Response Code Indonesian Standard). QRIS dapat menerima pembayaran dari aplikasi pembayaran apapun yang menggunakan QR Code (GoPay, OVO, Dana dsb.) Lebih gampang, tinggal scan dan klik bayar.</p>
							</v-list-item>
							<v-list-item>
								<p class="caption"> Jika sudah memilih metode pembayaran tertentu, pembayaran harus diselesaikan dalam waktu 30 menit.</p>
							</v-list-item>
						</v-list>
					</v-expansion-panel-content>
				</v-expansion-panel>

				<v-expansion-panel>
					<v-expansion-panel-header class="subtitle-2 font-weight-regular pa-5 px-8 black--text">5. Di mana saya bisa menonton film yang sudah dibeli di Yukflix?</v-expansion-panel-header>
					<v-expansion-panel-content>
						<v-list>
							<v-list-item>
								<p class="caption"> Tonton secara streaming dari website www.yukflix.com baik di desktop maupun perangkat mobile yang terkoneksi dengan internet, selama paling lambat 7 hari setelah menekan tombol menonton.</p>
							</v-list-item>
						</v-list>
					</v-expansion-panel-content>
				</v-expansion-panel>

				<v-expansion-panel>
					<v-expansion-panel-header class="subtitle-2 font-weight-regular pa-5 px-8 black--text">6. Film apa saja yang tersedia di Yukflix?</v-expansion-panel-header>
					<v-expansion-panel-content>
						<v-list>
							<v-list-item>
								<p class="caption"> Film yang tersedia di platform YUKFLIX sebagian besar adalah film-film produksi pelajar, mahasiswa dan komunitas di Indonesia.</p>
							</v-list-item>
						</v-list>
					</v-expansion-panel-content>
				</v-expansion-panel>

				<v-expansion-panel>
					<v-expansion-panel-header class="subtitle-2 font-weight-regular pa-5 px-8 black--text">7. Apakah Film yang tersedia di Yukflix diunduh?</v-expansion-panel-header>
					<v-expansion-panel-content>
						<v-list>
							<v-list-item>
								<p class="caption"> Untuk sementara film yang tersedia di platform Yukflix tidak dapat diunduh dan tidak dapat disimpan.</p>
							</v-list-item>
							<v-list-item>
								<p class="caption"> Film hanya dapat ditonton secara streaming di website Yukflix.</p>
							</v-list-item>
						</v-list>
					</v-expansion-panel-content>
				</v-expansion-panel>

				<v-expansion-panel>
					<v-expansion-panel-header class="subtitle-2 font-weight-regular pa-5 px-8 black--text">8. Bagaimana cara saya membatalkan tiket menonton film yang sudah dibeli di Yukflix?</v-expansion-panel-header>
					<v-expansion-panel-content>
						<v-list>
							<v-list-item>
								<p class="caption"> Tiket menonton film di Yukflix yang sudah dibeli tidak dapat dibatalkan.</p>
							</v-list-item>
						</v-list>
					</v-expansion-panel-content>
				</v-expansion-panel>

				<v-expansion-panel>
					<v-expansion-panel-header class="subtitle-2 font-weight-regular pa-5 px-8 black--text">9. Apakah Yukflix tersedia dalam bentuk app dalam Google Play atau Apple Store?</v-expansion-panel-header>
					<v-expansion-panel-content>
						<v-list>
							<v-list-item>
								<p class="caption"> Saat ini platform Yukflix baru tersedia dalam bentuk web-based.</p>
							</v-list-item>
						</v-list>
					</v-expansion-panel-content>
				</v-expansion-panel>
				
				<v-expansion-panel>
					<v-expansion-panel-header class="subtitle-2 font-weight-regular pa-5 px-8 black--text">10. Apakah layanan streaming film pelajar di platform Yukflix?</v-expansion-panel-header>
					<v-expansion-panel-content>
						<v-list>
							<v-list-item>
								<p class="caption"> YUKFLIX merupakan layanan streaming film pelajar dan mahasiswa yang pertama di Indonesia, di mana keseluruhan proses mulai dari pendaftaran dilakukan secara online.</p>
							</v-list-item>
							<v-list-item>
								<p class="caption"> Para pelajar dan mahasiswa sebagai produser film, yang sudah memproduksi film secara mandiri, bisa menayangkan film tersebut di platform YUKFLIX.</p>
							</v-list-item>
							<v-list-item>
								<p class="caption"> Harga tiket film pelajar ditentukan oleh YUKFLIX dan tentunya dengan pembagian keuntungan yang menarik bagi produser film pelajar mahasiswa untuk kembali menghasilkan karya yang lebih baik.</p>
							</v-list-item>
							<v-list-item>
								<p class="caption"> Hal selengkapnya mengenai syarat dan ketentuan layanan streaming film pelajar dapat menghubungi team YUKFLIX langsung melalui email ke yukflix@gmail.com</p>
							</v-list-item>
						</v-list>
					</v-expansion-panel-content>
				</v-expansion-panel>

				<v-expansion-panel>
					<v-expansion-panel-header class="subtitle-2 font-weight-regular pa-5 px-8 black--text">11. Apakah layanan pelatihan online produksi film di platform Yukflix?</v-expansion-panel-header>
					<v-expansion-panel-content>
						<v-list>
							<v-list-item>
								<p class="caption"> YUKFLIX merupakan platform bagi anak muda Indonesia yaitu pelajar dan mahasiswa yang ingin mendapatkan pelatihan online bersertifikat mengenai produksi film yang komprehensif dan mudah dipelajari.</p>
							</v-list-item>
							<v-list-item>
								<p class="caption"> Hal selengkapnya mengenai syarat dan ketentuan pelatihan dapat menghubungi team YUKFLIX langsung melalui email ke yukflix@gmail.com</p>
							</v-list-item>
						</v-list>
					</v-expansion-panel-content>
				</v-expansion-panel>

			</v-expansion-panels>
		<!-- </v-row> -->
	</div>
</template>