<template>
  <v-row justify="center">
    <v-dialog
      v-model="myDialogVisible"
      hide-overlay
      persistent
      width="360"
    >
      <v-card>
        <!-- Header -->
        <v-toolbar light color="white">
          <!-- Arrow -->
          <v-btn icon tile style="border-right: 1px solid #e5e5e5" light @click="myDialogVisible = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>

          <!-- Logo -->
          <v-toolbar-title>
            <!-- <img :src="logo" width="130" class="d-inline-block mt-3"/> -->
          </v-toolbar-title>

          <!-- Title -->
          <div class="flex-grow-1"></div>
          <v-toolbar-items>
            <v-btn light text>Information</v-btn>
          </v-toolbar-items>
        </v-toolbar>
				<v-card-text class="card-iframe">
          <iframe class="xendit" :src="invoiceUrl" frameborder="0"></iframe>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
  export default {
    name:"cc",
    props: {
      dialogVisible: Boolean,
      invoiceUrl: String
    },
    data () {
      return {
        dialog: false,
        // lazy: 'https://vtcheckout-production-assets.s3.amazonaws.com/snap/logos/M003796/thumb_retina_snap_2Flogos_2FM003796_2F04571408-807d-4315-af80-df2dfbba9ce3_2FPlayworld.png',
        // logo: '/img/Pewefeed-Logo-resize2.png',
      }
    },
    computed: {
      myDialogVisible: {
        get: function () {
          if (this.dialogVisible) {
            // Some dialog initialization code could be placed here
            // because it is called only when this.dialogVisible changes
            this.$emit('open');
          }

          return this.dialogVisible
        },
        set: function (value) {
          if (!value) {
            this.$emit('close')
          }
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
	.xendit {
		width: 100%;
		height: 100%;
		z-index: 1000;
		left: 0;
		right: 0;
		bottom: 0;
		top: 115px;
		margin: auto;
	}
  .card-iframe {
    height: 500px !important;
    padding-left:  0px !important;
    padding-right:  0px !important;
  }
</style>
