<template>
  <div class="grey darken-4 pa-lg-12">
    <VueSlickCarousel v-bind="settingsFilmMaker"
      class="px-12 mx-12"  
    >
      <div
        v-for="filmMaker in filmMakers"
        :key="filmMaker.name"
      >
        <v-row>
          <v-col
            cols="5"
          >
            <v-card
              class="mx-auto"
              tile
              color="transparent"
              flat
            >
              <span class="display-4 font-weight-bold white--text">{{ filmMaker.name }}</span>
            </v-card>
          </v-col>
          <v-col
            cols="7"
          >
            <v-card
              class="mx-auto"
              max-width="1000"
              tile
              color="transparent"
              flat
            >
              <v-card-text class="white--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste voluptate repudiandae facere harum quas, esse aliquid. Culpa nulla laboriosam, fugiat consequatur voluptas, cumque quisquam modi dolorum possimus, ducimus error eos.</v-card-text>
              <v-card-text class="white--text">Vivamus aliquam euismod magna, ut blandit augue bibendum vel. Phasellus consectetur fermentum nisl tempus pretium. Donec venenatis vitae neque et accumsan. Donec a arcu maximus, faucibus sapien tempor, vulputate mauris. Aliquam vulputate magna nec nulla malesuada, quis aliquet velit iaculis. Quisque et tellus vehicula, euismod felis sed, tincidunt libero. Fusce euismod gravida mauris. Vestibulum cursus faucibus arcu</v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="12"
          >
            <v-img
              class="white--text align-end"
              height="500px"
              :src="filmMaker.image"
              :lazy-src="filmMaker.image"
              
            >
              <template v-slot:placeholder>
                <v-row
                  class="fill-height ma-0"
                  align="center"
                  justify="center"
                >
                  <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                </v-row>
              </template>
            </v-img>
          </v-col>
        </v-row>
      </div>
    </VueSlickCarousel>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
export default {
  components: {
    VueSlickCarousel
  },
  data: () => ({
    settingsFilmMaker: {
      "dots": true,
      "focusOnSelect": true,
      "infinite": true,
      "speed": 500,
      "slidesToShow": 1,
      "slidesToScroll": 1,
      "touchThreshold": 5,
    },
    filmMakers: [
      {
        name: "Jean-Luc Godard",
        image: 'https://c1.staticflickr.com/6/5481/10527730975_170fc39d63_b.jpg'
      },
      {
        name: "Tasos Giapoutzi",
        image: 'https://www.giganticcranium.com/wp-content/uploads/2013/04/ZachBraff.jpg'
      },
      {
        name: "Chris Evans",
        image: 'https://tuftsdaily.com/wp-content/uploads/2020/05/JacobEhrlich-1024x682.jpg'
      },
      {
        name: "Robert Bresson",
        image: 'https://tuftsdaily.com/wp-content/uploads/2020/05/JacobEhrlich-1024x682.jpg'
      },
    ],
  }),
}
</script>
