<template>
	<v-footer
		padless
		color="white"
	>
		<v-row>
			<v-col 
				cols="6"
			>
				<v-card
					flat
					tile
					class="black--text mt-10 pl-12 mx-4"
				>
					<v-card-text>
						<v-img
							alt="Vuetify Logo"
							class="shrink mr-2"
							contain
							src="@/assets/yukflix-05.png"
							transition="scale-transition"
							width="350"
						/>
					</v-card-text>

					<v-card-text class="black--text pt-0 my-4">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti autem aspernatur porro animi ea unde tempora culpa! Cumque saepe facilis voluptatem praesentium consequuntur et.
					</v-card-text>
					<v-card-text class="black--text pt-0 my-4">
						<strong>Jumping in the office</strong> 
					</v-card-text>
				</v-card>
			</v-col>
			<v-col 
				cols="6"
			>
				<v-row>
					<v-col
						cols="12"
					>
						<v-card
							flat
							tile
							class="black--text mt-10 mx-6"
						>
							<v-card-text class="black--text pt-0 my-4 title">
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti autem aspernatur porro animi ea unde tempora culpa! Cumque saepe facilis voluptatem praesentium consequuntur et.
							</v-card-text>
						</v-card>
					</v-col>
					<v-col
						cols="6"
					>
						<v-card
							flat
							tile
							class="black--text mx-6"
						>
							<v-card-title>Top 10 Australian</v-card-title>
							<v-card-text class="text--primary">
								<div>Fuga numquam recusandae</div>
								<div>Lorem ipsum</div>
								<div>Vel molestias nisi</div>
							</v-card-text>
						</v-card>
					</v-col>
					<v-col
						cols="6"
					>
						<v-card
							flat
							tile
							class="black--text mx-6"
						>
							<v-card-title>Top 9 Arabian Night</v-card-title>
							<v-card-text class="text--primary">
								<div>Beach Whitsunday</div>
								<div>Island, </div>
							</v-card-text>
						</v-card>
					</v-col>
				</v-row>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				cols="6"
			>
				<v-card
					flat
					tile
					class="black--text pl-12 mx-4 mt-10"
				>
					<v-card-text class="black--text pt-0 my-4">
						Sit amet consectetur adipisicing elit @ 2019
					</v-card-text>
				</v-card>
			</v-col>
			<v-col
				cols="4"
			>
				<v-card
					flat
					tile
					class="pink darken-3 white--text mx-10 mt-10"
				>
					<v-card-text>
						<v-btn
							v-for="icon in icons"
							:key="icon"
							class="mx-4 white--text"
							icon
						>
							<v-icon size="24px">{{ icon }}</v-icon>
						</v-btn>
					</v-card-text>
				</v-card>
			</v-col>
			<v-col
				cols="2"
			>
				<v-card
					flat
					tile
					class="black--text mt-10"
				>
					<v-card-text class="text--primary" style="margin-left: -50px">
						Sit amet consectetur
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
	</v-footer>
</template>

<script>
export default {
  data: () => ({
    icons: [
      'mdi-facebook',
      'mdi-twitter',
      'mdi-linkedin',
      'mdi-instagram',
    ],
  }),
};
</script>
