<template>
	<v-container>
		<v-row>
			<v-col
				cols="12"
			>
				<div class="caption">
					<div class="caption-inner">
						<p class="display-3 black--text">Project Section</p>
					</div>
				</div>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				cols="12"
			>
				<p class="display-3">Trail Section</p>
			</v-col>
		</v-row>
		
	</v-container>
</template>

<script>
  export default {
    data () {
      return {
        colors: [
          'indigo',
          'warning',
          'pink darken-2',
          'red lighten-1',
          'deep-purple accent-4',
        ],
        slides: [
          'First',
          'Second',
          'Third',
          'Fourth',
          'Fifth',
        ],
      }
    },
  }
</script>

<style lang="scss" scoped>
	
</style>
