<template>
  <div>
    <v-sheet>
      <v-navigation-drawer
        v-model="intDialogVisible"
        fixed
        temporary
        width="400"
        :right="true"
      >
        <v-card flat>
          <!-- Header -->
          <v-toolbar light color="white">
            <!-- Arrow -->
            <v-btn
              v-if="e1 == 1 || e1 == 97 || e1 == 98 || e1 == 99 || e1 == 100"
              icon
              tile
              light
              @click="closeDialog"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>

            <v-btn
              v-if="e1 > 1 && e1 < 8"
              icon
              tile
              light
              @click="prev()"
            >
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>

            <!-- Logo -->
            <v-toolbar-title>
              &nbsp;
            </v-toolbar-title>

            <!-- Title -->
            <div class="flex-grow-1"></div>
            <v-toolbar-items>
              <v-btn light text>Payment Options</v-btn>
            </v-toolbar-items>
          </v-toolbar>

          <!-- Step -->
          <v-stepper v-model="e1">
            <v-stepper-header style="display: none !important">
              <v-stepper-step :complete="e1 > 1" step="1"></v-stepper-step>

              <v-divider></v-divider>

              <v-stepper-step :complete="e1 > 2" step="2"></v-stepper-step>

              <v-divider></v-divider>

              <v-stepper-step step="3"></v-stepper-step>
            </v-stepper-header>

            <v-stepper-items>
              <!-- Step 1 -->
              <v-stepper-content step="1" class="px-0">
                <v-container>
                  <!-- <v-card class="mx-auto"> -->
                    <!-- <v-card-title class="subtitle-1 pink darken-3 white--text font-weight-bold">Methode</v-card-title> -->
										<img src="/img/indosat.png" width="30" style="position:relative;top:2px" class="mr-2" alt /> <span class="font-weight-bold">Method</span>
                    <v-divider class="mt-4"></v-divider>

                    <div class="px-4 py-2" @click="requestTicket(2)">
                      <v-row class="pointer" align="center" style="cursor:pointer">
                        <v-col cols="2" class="py-0">
													<v-icon class="mr-1">mdi-bank</v-icon>
                        </v-col>
                        <v-col cols="8" class="py-0">Transfer Bank</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
										<v-divider></v-divider>
										<div class="px-4 py-2" @click="requestTicket(3)">
                      <v-row class="pointer" align="center" style="cursor:pointer">
                        <v-col cols="2" class="py-0">
													<v-icon class="mr-1">mdi-credit-card</v-icon>
                        </v-col>
                        <v-col cols="8" class="py-0">Credit Card</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
                    <v-divider></v-divider>
                    <div class="px-4 py-3" @click="requestTicket(1)">
                      <v-row class="pointer" align="center" style="cursor:pointer">
                        <v-col cols="2" class="py-0">
                          <!-- <v-img src="@/assets/image/payment/qris.png" max-width="50" width="50"> -->
													<!-- </v-img> -->
													<v-icon class="mr-1">mdi-barcode-scan</v-icon>
                        </v-col>
                        <v-col cols="8" class="py-0">QR Code</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
                  <!-- </v-card> -->
                </v-container>
              </v-stepper-content>
              <!-- END OF STEP 1 -->

              <!-- Step 2 TUNAI -->
              <v-stepper-content step="2" class="mb-3 px-0">
								<v-container v-if="loadingVa">
									<template>
										<div class="pa-10 text-center">
											Please wait, <br>we're checking your request
											<br> <br>
											<v-progress-linear
												color="pink"
												indeterminate
												rounded
												height="10"
											></v-progress-linear>
										</div>
									</template>
                </v-container>
                <v-container v-else>
									<v-icon class="mr-2">mdi-bank</v-icon>
									<span class="font-weight-bold">Transfer Bank</span>
                  <v-divider class="mt-4"></v-divider>
                  <!-- <v-card class="mx-auto mt-4 mb-2"> -->
                    <div class="px-4 py-3" @click="getVirtualAccount(4)" style="cursor:pointer">
                      <v-row class="pointer" align="center">
                        <v-col cols="2" class="py-0">
                          <img src="@/assets/image/payment/bni.png" class="pt-2" width="40" alt />
                        </v-col>
                        <v-col cols="8" class="py-0">BNI</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
                    <v-divider></v-divider>
                    <div class="px-4 py-3" @click="getVirtualAccount(5)" style="cursor:pointer">
                      <v-row class="pointer" align="center">
                        <v-col cols="2" class="py-0">
                          <img src="@/assets/image/payment/permata.png" class="pt-2" width="50" alt />
                        </v-col>
                        <v-col cols="8" class="py-0">PERMATA</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
                    <v-divider></v-divider>
                    <div class="px-4 py-3" @click="getVirtualAccount(6)" style="cursor:pointer">
                      <v-row class="pointer" align="center">
                        <v-col cols="2" class="py-0">
                          <img src="@/assets/image/payment/maybank.png" class="pt-2" width="50" alt />
                        </v-col>
                        <v-col cols="8" class="py-0">MAYBANK</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
                    <v-divider></v-divider>
                    <div class="px-4 py-3" @click="getVirtualAccount(7)" style="cursor:pointer">
                      <v-row class="pointer" align="center">
                        <v-col cols="2" class="py-0">
                          <img src="@/assets/image/payment/mandiri.png" class="pt-2" width="50" alt />
                        </v-col>
                        <v-col cols="8" class="py-0">MANDIRI</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
                    <v-divider></v-divider>
                    <div class="px-4 py-3" @click="getVirtualAccount(8)" style="cursor:pointer">
                      <v-row class="pointer" align="center">
                        <v-col cols="2" class="py-0">
                          <img src="@/assets/image/payment/sinarmas.png" class="pt-2" width="50" alt />
                        </v-col>
                        <v-col cols="8" class="py-0">SINARMAS</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
                  <!-- </v-card> -->
                </v-container>
              </v-stepper-content>
              <!-- END OF STEP 2 : TUNAI -->
							
							<!-- Step 3 OPTIONAL PAYMENT QRIS -->
              <v-stepper-content step="3" class="mb-3 px-0">
								<v-container v-if="loadingVa">
									<template>
										<div class="pa-10 text-center">
											Please wait, <br>we're checking your request
											<br> <br>
											<v-progress-linear
												color="pink"
												indeterminate
												rounded
												height="10"
											></v-progress-linear>
										</div>
									</template>
                </v-container>
                <v-container v-else>
									<v-icon class="mr-2">mdi-barcode-scan</v-icon>
									<span class="font-weight-bold">QRIS</span>
                  <v-divider class="mt-4"></v-divider>
                  <!-- <v-card class="mx-auto mt-4 mb-2"> -->
                    <div class="px-4 py-3" @click="getQris(1)" style="cursor:pointer">
                      <v-row class="pointer" align="center">
                        <v-col cols="2" class="py-0">
                          <img src="@/assets/image/payment2/ovo.png" class="pt-2" width="40" alt />
                        </v-col>
                        <v-col cols="8" class="py-0">OVO</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
										<v-divider></v-divider>
										<div class="px-4 py-3" @click="getQris(2)" style="cursor:pointer">
                      <v-row class="pointer" align="center">
                        <v-col cols="2" class="py-0">
                          <img src="@/assets/image/payment2/bca.png" class="pt-2" width="40" alt />
                        </v-col>
                        <v-col cols="8" class="py-0">BCA</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
										<v-divider></v-divider>
										<div class="px-4 py-3" @click="getQris(3)" style="cursor:pointer">
                      <v-row class="pointer" align="center">
                        <v-col cols="2" class="py-0">
                          <img src="@/assets/image/payment2/dana.png" class="pt-2" width="40" alt />
                        </v-col>
                        <v-col cols="8" class="py-0">Dana</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
                    <v-divider></v-divider>
                    <div class="px-4 py-3" @click="getQris(4)" style="cursor:pointer">
                      <v-row class="pointer" align="center">
                        <v-col cols="2" class="py-0">
                          <img src="@/assets/image/payment2/gopay.png" class="pt-2" width="50" alt />
                        </v-col>
                        <v-col cols="8" class="py-0">GOPAY</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
										<v-divider></v-divider>
                    <div class="px-4 py-3" @click="getQris(5)" style="cursor:pointer">
                      <v-row class="pointer" align="center">
                        <v-col cols="2" class="py-0">
                          <img src="@/assets/image/payment2/linkaja.png" class="pt-2" width="50" alt />
                        </v-col>
                        <v-col cols="8" class="py-0">Link Aja</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
										<v-divider></v-divider>
                    <div class="px-4 py-3" @click="getQris(6)" style="cursor:pointer">
                      <v-row class="pointer" align="center">
                        <v-col cols="2" class="py-0">
                          <img src="@/assets/image/payment2/nobu.png" class="pt-2" width="50" alt />
                        </v-col>
                        <v-col cols="8" class="py-0">Nobu E-pay</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
										<v-divider></v-divider>
                    <div class="px-4 py-3" @click="getQris(7)" style="cursor:pointer">
                      <v-row class="pointer" align="center">
                        <v-col cols="2" class="py-0">
                          <img src="@/assets/image/payment2/paytren.png" class="pt-2" width="50" alt />
                        </v-col>
                        <v-col cols="8" class="py-0">Paytren</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
										<v-divider></v-divider>
                    <div class="px-4 py-3" @click="getQris(8)" style="cursor:pointer">
                      <v-row class="pointer" align="center">
                        <v-col cols="2" class="py-0">
                          <img src="@/assets/image/payment2/cimb-click.png" class="pt-2" width="50" alt />
                        </v-col>
                        <v-col cols="8" class="py-0">CIMB</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
										<v-divider></v-divider>
                    <div class="px-4 py-3" @click="getQris(9)" style="cursor:pointer">
                      <v-row class="pointer" align="center">
                        <v-col cols="2" class="py-0">
                          <img src="@/assets/image/payment2/bank-dki.png" class="pt-2" width="50" alt />
                        </v-col>
                        <v-col cols="8" class="py-0">Bank DKI</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
										<v-divider></v-divider>
                    <div class="px-4 py-3" @click="getQris(10)" style="cursor:pointer">
                      <v-row class="pointer" align="center">
                        <v-col cols="2" class="py-0">
                          <img src="@/assets/image/payment2/maybank.png" class="pt-2" width="50" alt />
                        </v-col>
                        <v-col cols="8" class="py-0">Maybank</v-col>
                        <v-col cols="2">
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-col>
                      </v-row>
                    </div>
                  <!-- </v-card> -->
                </v-container>
              </v-stepper-content>
              <!-- END OF STEP 3 : OPTIONAL PAYMENT QRIS -->

							<!-- Step 3 : QRIS -->
              <v-stepper-content step="97" class="px-0">
								<v-container v-if="loadingVa">
									<template>
										<div class="pa-10 text-center">
											Please wait, <br>we're checking your request
											<br> <br>
											<v-progress-linear
												color="pink"
												indeterminate
												rounded
												height="10"
											></v-progress-linear>
										</div>
									</template>
                </v-container>
                <v-container v-else>
                  <v-icon class="mr-2">mdi-barcode-scan</v-icon>
									<!-- <img :src="optionalQris" class="pt-2" width="50" alt /> -->
									<span class="font-weight-bold">{{ optionalQrisText }}</span>
                  <v-divider class="mt-4"></v-divider>
									<v-card flat class="mx-auto mt-48">
										<v-card-subtitle class="px-6 mx-6">
										<v-img 
											:src="qrisImage"
											:lazy-src="qrisImage"
											max-width="250"
											width="250"
										>
										</v-img>
										</v-card-subtitle>

										<v-card-subtitle class="text-center">{{ text }}</v-card-subtitle>
										<v-card-subtitle>
											<v-simple-table>
												<template v-slot:default>
													<thead>
														<tr>
															<th class="text-left">Film</th>
															<th class="text-left">Amount</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Impian 1000 Pulau</td>
															<td>{{ price }}</td>
														</tr>
														<tr class="font-weight-bold">
															<td class="text-right">Total</td>
															<td>{{ price }}</td>
														</tr>
													</tbody>
												</template>
											</v-simple-table>
										</v-card-subtitle>
									</v-card>
                </v-container>
              </v-stepper-content>
              <!-- END OF STEP 3 : QRIS -->

							<!-- Step 4 : KONFIRMASI QRIS -->
              <v-stepper-content step="4" class="px-0">
                <v-container>
                  <v-icon class="mr-2">mdi-barcode-scan</v-icon>
									<span class="font-weight-bold">QRIS</span>
                  <v-divider class="mt-4"></v-divider>
									<v-card flat class="mx-auto mt-48">
										<v-form v-model="valid" ref="form" class="mx-2">
											<v-row>
												<v-col cols="12">
													<v-select
														v-model="provider"
														:items="itemProvider"
														item-text="title"
														item-value="id"
														:rules="[v => !!v || 'Provider is required']"
														label="Provider"
														light
														outlined
														hide-details
														required
														prepend-icon="mdi-credit-card"
														color="pink darken-3"
													></v-select>
												</v-col>

												<v-col cols="12">
													<v-dialog
														ref="dialog"
														v-model="modal"
														:return-value.sync="date"
														persistent
														width="290px"
													>
														<template v-slot:activator="{ on, attrs }">
															<v-text-field
																v-model="date"
																label="Date"
																prepend-icon="mdi-calendar"
																v-bind="attrs"
																v-on="on"
																outlined
																hide-details
																required
																color="pink darken-3"
																:rules="[v => !!v || 'Date is required']"
															></v-text-field>
														</template>
														<v-date-picker v-model="date" color="pink darken-3" scrollable>
															<v-spacer></v-spacer>
															<v-btn text color="primary" @click="modal = false">Cancel</v-btn>
															<v-btn text color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
														</v-date-picker>
													</v-dialog>
												</v-col>
												
												<v-col cols="12">
													<v-dialog
														ref="dialog2"
														v-model="modal2"
														:return-value.sync="time"
														persistent
														width="290px"
													>
														<template v-slot:activator="{ on, attrs }">
															<v-text-field
																v-model="time"
																label="Time"
																prepend-icon="mdi-clock-time-four-outline"
																outlined
																hide-details
																required
																v-bind="attrs"
																v-on="on"
																color="pink darken-3"
																:rules="[v => !!v || 'Time is required']"
															></v-text-field>
														</template>
														<v-time-picker
															v-if="modal2"
															v-model="time"
															full-width
															format="24hr"
															color="pink darken-3"
															scrollable="true"
															use-seconds
														>
															<v-spacer></v-spacer>
															<v-btn text color="primary" @click="modal2 = false">Cancel</v-btn>
															<v-btn text color="primary" @click="$refs.dialog2.save(time)">OK</v-btn>
														</v-time-picker>
													</v-dialog>
												</v-col>
												
												<v-col
													cols="12"
													class="text-center my-10"
												>
													<v-btn
														width="280"
														height="50"
														large
														depressed
														rounded=""
														color="pink darken-3 white--text"
														@click="paymentQris()"
														:disabled="!valid"
														:loading="loadingConfirmation"
													>
														Submit
													</v-btn>
												</v-col>
											</v-row>
										</v-form>
									</v-card>
                </v-container>
              </v-stepper-content>
              <!-- END OF STEP 4 : KONFIRMASI QRIS -->

							<!-- Step 5 : RESPONSE QRIS -->
              <v-stepper-content step="99" class="px-0">
                <v-container>
                  <v-icon class="mr-2">mdi-barcode-scan</v-icon>
									<span class="font-weight-bold">QRIS</span>
                  <v-divider class="mt-4"></v-divider>
									<v-card flat class="mx-auto mt-48">
										<v-card-subtitle>{{ text }} <br /> Terima Kasih </v-card-subtitle>
										<!-- <v-card-subtitle>*Halaman akan reload secara otomatis </v-card-subtitle> -->
									</v-card>
                </v-container>
              </v-stepper-content>
              <!-- END OF STEP 5 : RESPONSE QRIS -->

							<!-- Step 6 : RESPONSE BANK -->
              <v-stepper-content step="100" class="px-0">
                <v-container v-if="loadingVa">
									<template>
										<div class="pa-10 text-center">
											Please wait, <br>we're checking your request
											<br> <br>
											<v-progress-linear
												color="pink"
												indeterminate
												rounded
												height="10"
											></v-progress-linear>
										</div>
									</template>
                </v-container>
								<v-container v-else>
                  <v-icon class="mr-2">mdi-bank</v-icon>
									<span class="font-weight-bold">Transfer Bank</span>
                  <v-divider class="mt-4"></v-divider>
									<v-card flat class="mx-auto mt-48">
										<v-card-subtitle> Silahkan Transfer ke nomor virtual number <strong> {{ vaNumber }} </strong> kami. Batas waktu transfer sampai <strong>{{ expired }} WIB</strong> <br /> Terima Kasih </v-card-subtitle>
										<v-card-title>Keterangan Pembelian</v-card-title>
										<v-card-subtitle>
											<v-simple-table>
												<template v-slot:default>
													<tbody>
														<tr>
															<td>Film</td>
															<td>: Impian 1000 Pulau</td>
														</tr>
														<tr>
															<td>Amount</td>
															<td>: {{ price }}</td>
														</tr>
														<tr>
															<td>Bank</td>
															<td>: {{ bank }}</td>
														</tr>
														<tr>
															<td>Virtual Account</td>
															<td>: <strong>{{ vaNumber }}</strong></td>
														</tr>
														<tr>
															<td>Expired</td>
															<td>: {{ expired }}</td>
														</tr>
													</tbody>
												</template>
											</v-simple-table>
										</v-card-subtitle>
									</v-card>
									<v-card class="my-2" flat="">
										<v-card-title>Cara Pembayaran</v-card-title>
										<v-expansion-panels accordion="" focusable="" tile="" class="mb-2 pb-3">
											<v-expansion-panel v-for="data in howToPayment" :key="data">
												<v-expansion-panel-header class="subtitle-2">
													{{ data.type }}
												</v-expansion-panel-header>
												<v-expansion-panel-content>
													<v-list>
														<v-list-item v-for="(n, index) in data.content" :key="n">
															<v-list-item-avatar>
																<v-icon>mdi-numeric-{{ index+1 }}-circle-outline</v-icon>
															</v-list-item-avatar>
															<v-list-item-content class="caption font-weight-regular">
																{{ n.text }}
															</v-list-item-content>
														</v-list-item>
													</v-list>
												</v-expansion-panel-content>
											</v-expansion-panel>
										</v-expansion-panels>
									</v-card>
                </v-container>
              </v-stepper-content>
              <!-- END OF STEP53 : RESPONSE BANK -->

							<!-- Step 7 : CC -->
              <v-stepper-content step="7" class="px-0">
								<v-container v-if="loadingVa">
									<template>
										<div class="pa-10 text-center">
											Please wait, <br>we're checking your request
											<br> <br>
											<v-progress-linear
												color="pink"
												indeterminate
												rounded
												height="10"
											></v-progress-linear>
										</div>
									</template>
                </v-container>
								<v-container v-else>
                  <v-icon class="mr-2">mdi-credit-card</v-icon>
									<span class="font-weight-bold">Credit Card</span>
									<v-divider class="mt-4"></v-divider>
                  <div class="px-4 py-2" @click="getCC(14)">
										<v-row class="pointer" align="center" style="cursor:pointer">
											<v-col cols="2" class="py-0">
												<v-img src="@/assets/image/payment/visa.png" max-width="50" width="50" />
											</v-col>
											<v-col cols="8" class="py-0">Visa</v-col>
											<v-col cols="2">
												<v-icon>mdi-chevron-right</v-icon>
											</v-col>
										</v-row>
									</div>
									<v-divider></v-divider>
									<div class="px-4 py-2" @click="getCC(15)">
										<v-row class="pointer" align="center" style="cursor:pointer">
											<v-col cols="2" class="py-0">
												<v-img src="@/assets/image/payment/master-card.png" max-width="50" width="50" />
											</v-col>
											<v-col cols="8" class="py-0">Master Card</v-col>
											<v-col cols="2">
												<v-icon>mdi-chevron-right</v-icon>
											</v-col>
										</v-row>
									</div>
									<v-divider></v-divider>
									<div class="px-4 py-4">
										Pembayaran menggunakan kartu kredit dikenakan tambahan biaya 2,5% dari nilai transaksi dan biaya administrasi Rp 3,000,- per transaksi
									</div>
                </v-container>
              </v-stepper-content>
              <!-- END OF STEP 73 : CC -->

							<!-- Step 8 : RESPONSE CC -->
              <v-stepper-content step="98" class="px-0">
                <v-container>
                  <v-icon class="mr-2">mdi-credit-card</v-icon>
									<span class="font-weight-bold">Credit Card</span>
									<v-divider class="mt-4"></v-divider>
									<v-card flat class="mx-auto mt-48">
										<v-card-subtitle>{{ text }} <br /> Terima Kasih </v-card-subtitle>
									</v-card>
                </v-container>
              </v-stepper-content>
              <!-- END OF STEP 8 : RESPONSE CC -->

            </v-stepper-items>
          </v-stepper>
        </v-card>
      </v-navigation-drawer>
    </v-sheet>
		<template>
			<v-row justify="center">
				<v-dialog
					v-model="dialogConf"
					max-width="290"
				>
					<v-card>
						<!-- <v-card-title class="headline"></v-card-title> -->

						<v-card-text>
							Apa anda yakin memilih dengan metode pembayaran ini? Bila Anda setuju, mohon selesaikan pembayaran Anda dan Anda dapat memiliki waktu konfirmasi pembayaran selama 30 menit. bila transaksi tidak di selesaikan dalam 30 menit anda bisa mengganti dengan metode transaksi yang lain.
						</v-card-text>

						<v-card-actions>
							<v-spacer></v-spacer>

							<v-btn
								color="green darken-1"
								text
								@click="dialogConf = false"
							>
								Disagree
							</v-btn>

							<v-btn
								color="green darken-1"
								text
								@click="dialogConf = false"
							>
								Agree
							</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-row>
		</template>
    <!-- <IframePreview :dialogVisible="iframeDialogVisible" :invoiceUrl="invoiceUrl" @close="iframeClose()"/> -->
  </div>
</template>

<script>
import MoviesService from '@/services/MovieService'
// import IframePreview from "@/components/modal/IframePreview";
export default {
  name: "Payment",
  props: {
    dialogVisible: Boolean
  },
  data() {
    return {
      e1: 1,
      dialog: false,
      current: 0,
      tab: null,
      user: [],
      valid: true,
			iframeDialogVisible: false,
			price: 0,
			date: new Date().toISOString().substr(0, 10),
			modal: false,
			time: null,
			modal2: false,
			provider: '',
			itemProvider: [
				{
					title: "OVO",
					id: "1"
				},
				{
					title: "GOPAY",
					id: "2"
				},
				{
					title: "DANA",
					id: "3"
				}
			],
			text: '',
			loadingConfirmation: false,
			bank: '',
			expired: '',
			leftminute: '',
			vaNumber: '',
			loadingVa: false,
			invoiceUrl: '',
			howToPayment: '',
			howToBni: [
				{
					type: 'Pembayaran via ATM BNI',
					content: [
						{
							text: 'Masukkan Kartu Anda'
						},
						{
							text: 'Pilih Bahasa'
						},
						{
							text: 'Masukkan PIN ATM Anda'
						},
						{
							text: 'Pilih "Menu Lainnya'
						},
						{
							text: 'Pilih "Transfer'
						},
						{
							text: 'Pilih Jenis rekening yang akan Anda gunakan (Contoh; "Dari Rekening Tabungan").'
						},
						{
							text: 'Pilih “Virtual Account Billing”.'
						},
						{
							text: 'Masukkan nomor Virtual Account Anda (contoh: 8717012300000001).'
						},
						{
							text: 'Tagihan yang harus dibayarkan akan muncul pada layar konfirmasi.'
						},
						{
							text: 'Konfirmasi, apabila telah sesuai, lanjutkan transaksi.'
						},
						{
							text: 'Transaksi Anda telah selesai.'
						},
					]
				},
				{
					type: 'Pembayaran via Mobile Banking BNI',
					content: [
						{
							text: 'Akses BNI Mobile Banking dari handphone kemudian masukkan user ID dan password.'
						},
						{
							text: 'Pilih menu “Transfer”.'
						},
						{
							text: 'Pilih menu “Virtual Account Billing” kemudian pilih rekening debet.'
						},
						{
							text: 'Masukkan nomor Virtual Account Anda (contoh: 8717012300000001) pada menu “inputbaru”.'
						},
						{
							text: 'Tagihan yang harus dibayarkan akan muncul pada layar konfirmasi.'
						},
						{
							text: 'Konfirmasi transaksi dan masukkan Password Transaksi.'
						},
						{
							text: 'Pembayaran Anda Telah Berhasil.'
						},
						{
							text: 'Pembayaran lewat BNI Internet Banking'
						},
						{
							text: 'Akses https://ibank.bni.co.id/'
						},
						{
							text: 'Masukkan User ID dan password'
						},
						{
							text: 'Klik menu Transfer, lalu pilih “Virtual Account Billing”.'
						},
						{
							text: 'Kemudian masukan nomor Virtual Account Anda (contoh: 8717012300000001) yang hendak dibayarkan. Lalu pilih rekening debet yang akan digunakan. Kemudian tekan ‘’Lanjut’’.'
						},
						{
							text: 'Kemudin tagihan yang harus dibayarkan akan muncul pada layar konfirmasi.'
						},
						{
							text: 'Masukkan Kode Otentikasi Token.'
						},
						{
							text: 'Pembayaran Anda telah berhasil.'
						},
					]
				},
				{
					type: 'Pembayaran VA BNI dari Bank lain',
					content: [
						{
							text: 'Pilih menu "Transfer antar bank" atau “Transfer online antarbank”.'
						},
						{
							text: 'Apabila transaksi melalui ATM, Masukkan kode bank BNI (009) lalu diikuti 16 nomor virtual account, (contoh: 8717012300000001).'
						},
						{
							text: 'Apabila melalui channel seperti internet banking atau mobile banking, masukan 16 Digit Nomor Virtual Account pada kolom rekening tujuan, (contoh: 8717012300000001).'
						},
						{
							text: 'Masukkan nominal transfer sesuai tagihan atau kewajiban Anda. Nominal yang berbeda tidak dapat diproses.'
						},
						{
							text: 'Konfirmasi rincian Anda akan tampil di layar, cek dan apabila sudah sesuai silahkan lanjutkan transaksi sampai dengan selesai.'
						},
						{
							text: 'Transaksi Berhasil.'
						},
					]
				}
			],
			howToMaybank: [
				{
					type: 'Pembayaran via ATM Maybank',
					content: [
						{
							text: 'Masukkan Kartu Anda'
						},
						{
							text: 'Pilih Bahasa'
						},
						{
							text: 'Masukkan PIN ATM Anda'
						},
						{
							text: 'Pilih "Menu Pembayaran"'
						},
						{
							text: 'Pilih "Virtual Account"'
						},
						{
							text: 'Masukkan nomor Virtual Account Anda (contoh: 7893901230000001), dan jumlah pembayaran yang akan dibayarkan'
						},
						{
							text: 'Tagihan yang harus dibayarkan akan muncul pada layar konfirmasi.'
						},
						{
							text: 'Konfirmasi, apabila telah sesuai, lanjutkan transaksi.'
						},
						{
							text: 'Transaksi Anda telah selesai.'
						},
					]
				},
				{
					type: 'Pembayaran via Maybank Internet Banking',
					content: [
						{
							text: 'Akses https://m2u.maybank.co.id/common/Login.do'
						},
						{
							text: 'Masukkan User ID dan password'
						},
						{
							text: 'Klik menu Transfer, lalu pilih “Maybank Virtual Account”'
						},
						{
							text: 'Pilih sumber dana, kemudian masukan nomor Virtual Account Anda (contoh: 7893901230000001) dan nominal yang harus dibayarkan'
						},
						{
							text: 'Lalu akan muncul layar konfirmasi pembayaran. Klik tombol request TAC, setelah mendapat kode TAC yang dikirim lewat SMS, masukkan kode TAC tersebut ke kolom kode TAC. Lalu klik konfirmasi'
						},
						{
							text: 'Pembayaran Anda telah berhasil.'
						},
					]
				},
				{
					type: 'Pembayaran via Maybank Mobile Banking',
					content: [
						{
							text: 'Akses Maybank Mobile Banking dari handphone kemudian masukkan user ID dan password'
						},
						{
							text: 'Pilih menu “Transfer”'
						},
						{
							text: 'Pilih menu “Maybank Virtual Account”'
						},
						{
							text: 'Pilih sumber dana lalu, masukkan nomor Virtual Account Anda (contoh: 7893901230000001) dan nominal yang akan dibayar'
						},
						{
							text: 'Tagihan yang harus dibayarkan akan muncul pada layar konfirmasi'
						},
						{
							text: 'Klik tombol request TAC, setelah mendapat kode TAC yang dikirim lewat SMS, masukkan kode TAC tersebut ke kolom kode TAC. Lalu klik konfirmasi'
						},
						{
							text: 'Pembayaran Anda Telah Berhasil'
						},
					]
				},
				{
					type: 'Pembayaran VA Maybank dari Bank lain',
					content: [
						{
							text: 'Pilih menu "Transfer antar bank" atau “Transfer online antarbank"'
						},
						{
							text: 'Apabila transaksi melalui ATM, Masukkan kode bank Maybank (016) lalu diikuti 16 nomor virtual account, (contoh: 7893901230000001)'
						},
						{
							text: 'Apabila melalui channel seperti internet banking atau mobile banking, masukan 16 Digit Nomor Virtual Account pada kolom rekening tujuan, (contoh: 7893901230000001)'
						},
						{
							text: 'Masukkan nominal transfer sesuai tagihan'
						},
						{
							text: 'Konfirmasi rincian Anda akan tampil di layar, cek dan apabila sudah sesuai silahkan lanjutkan transaksi sampai dengan selesai'
						},
						{
							text: 'Transaksi Berhasil'
						},
					]
				}
			],
			howToPermata: [
				{
					type: 'Pembayaran VA Permata via ATM Permata',
					content: [
						{
							text: 'Masukkan kartu ATM anda.'
						},
						{
							text: 'Pilih Bahasa'
						},
						{
							text: 'Masukkan PIN ATM Anda'
						},
						{
							text: 'Pilih menu “Transaksi Lainnya”. Lalu pilih menu “Transfer” dan kemudian pilih menu “Rek NSB Lain Permata”'
						},
						{
							text: 'Masukkan nomor virtual account (contoh: 8461011230000001) dan pilih “Benar”'
						},
						{
							text: 'Kemudian masukkan nominal transaksi sesuai dengan invoice yang ditagihkan, lalu pilih “Benar”'
						},
						{
							text: 'Lalu pilih rekening Anda. Tunggu sebentar hingga muncul konfirmasi pembayaran. Kemudian pilih “Ya”'
						},
						{
							text: 'Pembayaran berhasil'
						},
					]
				},
				{
					type: 'Pembayaran VA Permata via Internet Banking',
					content: [
						{
							text: 'Akses https://new.permatanet.com/permatanet/retail/logon'
						},
						{
							text: 'Setelah login, pilih menu “Pembayaran”'
						},
						{
							text: 'Lalu pilih sub menu “Pembayaran Tagihan” dan pilih “Virtual Account”'
						},
						{
							text: 'Pilih rekening anda sebagai sumber dana, lalu masukkan nomor virtual account (contoh: 8461011230000001) lalu pilih “Lanjut”'
						},
						{
							text: 'Masukkan nominal tagihan pada bagian “Total Pembayaran” sesuai dengan invoice, lalu pilih “Submit”'
						},
						{
							text: 'Tunggu sebentar hingga memperoleh SMS notifikasi yang berisi kode. Lalu masukkan kode tersebut'
						},
						{
							text: 'Proses transfer selesai'
						},
					]
				},
				{
					type: 'Pembayaran VA Permata via Mobile Banking',
					content: [
						{
							text: 'Setelah login, pilih menu “Pembayaran Tagihan” dan pilih menu “Virtual Account”.'
						},
						{
							text: 'Pilih “Tagihan Anda” dan pilih “Daftar Tagihan Baru”'
						},
						{
							text: 'Masukkan nomor virtual account (contoh: 8461011230000001) lalu pilih “Konfirmasi”'
						},
						{
							text: 'Masukkan “Nama Pengingat” setelah itu klik “Lanjut”. Setelah itu pilih “Konfirmasi”'
						},
						{
							text: 'Masukkan nominal tagihan sesuai invoice, kemudian pilih “Konfirmasi”'
						},
						{
							text: 'Masukkan “Response Code” lalu pilih “Konfirmasi”'
						},
						{
							text: 'Proses transfer selesai'
						},
					]
				},
				{
					type: 'Pembayaran VA Permata via Bank lain',
					content: [
						{
							text: 'Pilih menu "Transfer antar bank" atau "Transfer online antarbank"'
						},
						{
							text: 'Apabila transaksi melalui ATM, Masukkan kode bank Permata (013) lalu diikuti 16 nomor virtual account, (contoh: 8461011230000001)'
						},
						{
							text: 'Apabila melalui channel seperti internet banking atau mobile banking, masukan 16 Digit Nomor Virtual Account pada kolom rekening tujuan, (contoh: 8461011230000001)'
						},
						{
							text: 'Masukkan nominal transfer sesuai tagihan'
						},
						{
							text: 'Konfirmasi rincian Anda akan tampil di layar, cek dan apabila sudah sesuai silahkan lanjutkan transaksi sampai dengan selesai'
						},
						{
							text: 'Transaksi Berhasil'
						},
					]
				}
			],
			howToDefault:[
				{
					type: 'Belum tersedia',
					content: [
						{
							text: 'Belum tersedia'
						}	
					]
				}
			],
			qrisImage: '',
			optionalQris: '',
			optionalQrisText: '',
			dialogConf: false,
    };
  },
  components: {
		// IframePreview
  },
  computed: {
    /* Init Modal */
    intDialogVisible: {
      get: function() {
        if (this.dialogVisible) {
          // Some dialog initialization code could be placed here
					// because it is called only when this.dialogVisible changes
          this.$emit("open");
				}
        return this.dialogVisible;
      },
      set: function(value) {
        if (!value) {
					console.log(value)
          this.$emit("close");
				}
      }
		},
		userData() {
			return this.$store.state.authData.loggedInUser
		}
  },
  methods: {
    /* Change Icon Arrow Prev Step */
    prev() {
      if (this.e1 != 0) {
        if (this.e1 == 3) {
          this.e1 = this.e1 - 2;
        } else if (this.e1 == 5) {
          this.e1 = this.e1 - 4;
        } else {
          if (this.e1 == 4) {
            this.e1 = this.e1 - 1;
          } else {
            this.e1 = 1
            // console.log(this.current)
          }
        }
      }
    },
    closeDialog() {
			this.e1 = 1;
			this.intDialogVisible = false;
    },
    iframeClose () {
			this.iframeDialogVisible = false
			this.$router.push('/dashboard')
        // other code
    },
    iframePreview() {
      this.iframeDialogVisible = true;
		},
		reloadPage() {
			location.reload()
		},
		async requestTicket(val) {
			this.loadingVa = true
			if(val == 2) {
				this.e1 = 2;
			}
			
			if(val == 3) {
				this.e1 = 7;
			}

			if(val == 1) {
				// this.e1 = 97;
				this.e1 = 3;
			}

			try {
				const user    = JSON.parse(this.userData)
				const data    = {
					'userid': user.userid,
					'token': localStorage.getItem("access-token"),
					'movieid': 3,
					tipemethod: val
				}

				const response  = await MoviesService.requestTicket(data)
				// console.log(response.data);
				
				if(response.data.status == 'Fill') {
					localStorage.setItem("access-token", response.data.token)
					localStorage.setItem("idpayment", response.data.idpayment)
					this.conf = 0
					this.price = response.data.amountformat
					this.loadingVa = false
				}
			} catch (error) {
				console.log(error)
			}
		},
		async paymentQris() {
			try {
				console.log(this.provider)
				this.loadingConfirmation  = true
				const user        = JSON.parse(this.userData)
				const data = {
					'userid': user.userid,
					'token': localStorage.getItem("access-token"),
					'idpayment': localStorage.getItem("idpayment"),
					'movieid': 3,
					'idprovider': this.provider,
					'tanggal': this.date,
					'jam': this.time
				}
				const response =  await MoviesService.payment(data)
				console.log(response.data)
				if(response.data.success == true) {
					this.loadingConfirmation  = false
					localStorage.setItem("access-token", response.data.token)
					// this.paymentCheck();
					// this.snackbar = true
					this.text  = response.data.message
					this.e1 	 = 99
					// setTimeout(() => {
					// 	location.reload()
					// }, 3000);
				}
				
			} catch (error) {
				console.log(error)
			}
		},
		async chooseBank(val) {
			this.e1 = 7
			console.log(val)
		},
		async getVirtualAccount(val) {
			let makeSure = confirm('Apa anda yakin memilih dengan metode pembayaran ini? Bila Anda setuju, mohon selesaikan pembayaran Anda dan Anda dapat memiliki waktu konfirmasi pembayaran selama 30 menit. bila transaksi tidak di selesaikan dalam 30 menit anda bisa mengganti dengan metode transaksi yang lain.')
			if(makeSure) {
				// console.log(val)
				this.loadingVa = true
				this.e1 = 100
				try {
					const user        = JSON.parse(this.userData)
					const data = {
						'userid': user.userid,
						'token': localStorage.getItem("access-token"),
						'idpayment': localStorage.getItem("idpayment"),
						'movieid': 3,
						'idprovider': val,
					}
					const response =  await MoviesService.getVa(data)
					console.log(response.data)
					if(response.data.success == true) {
						localStorage.setItem("access-token", response.data.token)
						this.bank 			= response.data.bank
						this.expired 		= response.data.expired
						this.leftminute = response.data.leftminute
						this.vaNumber 	= response.data.vaNumber
						this.text  			= response.data.message

						if(val == 4) {
							this.howToPayment = this.howToBni
						} else if (val == 5) {
							this.howToPayment = this.howToPermata
						} else if (val == 6) {
							this.howToPayment = this.howToMaybank
						} else if (val == 7) {
							this.howToPayment = this.howToDefault
						} else {
							this.howToPayment = this.howToDefault
						}

						this.loadingVa 	= false
					}
				} catch (error) {
					console.log(error)
				}
			}
		},
		async getCC(val) {
			this.loadingVa = true
			try {
				const user        = JSON.parse(this.userData)
				const data = {
					'userid': user.userid,
					'token': localStorage.getItem("access-token"),
					'idpayment': localStorage.getItem("idpayment"),
					'movieid': 3,
					'idprovider': val,
				}
				const response =  await MoviesService.getCC(data)
				// console.log(response.data)
				if(response.data.success == true) {
					localStorage.setItem("access-token", response.data.token)
					this.invoiceUrl 				 = response.data.linkwindowcc 
          // this.iframeDialogVisible = true
					this.loadingVa 					 = false
					this.text 					 		 = response.data.message 
					this.e1 	 							 = 98
					window.open(response.data.linkwindowcc , '_blank');
				}
			} catch (error) {
				console.log(error)
			}
		},
		async getQris(val) {
			let makeSure = confirm('Apa anda yakin memilih dengan metode pembayaran ini? Bila Anda setuju, mohon selesaikan pembayaran Anda dan Anda dapat memiliki waktu konfirmasi pembayaran selama 30 menit. bila transaksi tidak di selesaikan dalam 30 menit anda bisa mengganti dengan metode transaksi yang lain.')
			if(makeSure) {
				this.loadingVa = true
				try {
					const customer    = JSON.parse(this.userData)
					const raw    = {
						'userid': customer.userid,
						'token': localStorage.getItem("access-token"),
						'idpayment': localStorage.getItem("idpayment"),
					}
					const res  = await MoviesService.getQris(raw)

					if(res.data.success == true) {
						localStorage.setItem("access-token", res.data.token)
						this.text = res.data.message
						this.qrisImage = res.data.qrisImage

						if(val == 1) {
							this.optionalQris = require('./../assets/image/payment2/ovo.png')
							this.optionalQrisText = 'OVO'
						} else if (val == 2) {
							this.optionalQris = require('./../assets/image/payment2/bca.png')
							this.optionalQrisText = 'BCA'
						} else if (val == 3) {
							this.optionalQris = require('./../assets/image/payment2/dana.png')
							this.optionalQrisText = 'Dana'
						} else if (val == 4) {
							this.optionalQris = require('./../assets/image/payment2/gopay.png')
							this.optionalQrisText = 'Gopay'
						} else if (val == 5) {
							this.optionalQris = require('./../assets/image/payment2/linkaja.png')
							this.optionalQrisText = 'Link Aja'
						} else if (val == 6) {
							this.optionalQris = require('./../assets/image/payment2/nobu.png')
							this.optionalQrisText = 'Nobu E-Pay'
						} else if (val == 7) {
							this.optionalQris = require('./../assets/image/payment2/paytren.png')
							this.optionalQrisText = 'Paytren'
						} else if (val == 8) {
							this.optionalQris = require('./../assets/image/payment2/cimb-click.png')
							this.optionalQrisText = 'CIMB'
						} else if (val == 9) {
							this.optionalQris = require('./../assets/image/payment2/bank-dki.png')
							this.optionalQrisText = 'Bank DKI'
						} else if (val == 10) {
							this.optionalQris = require('./../assets/image/payment2/maybank.png')
							this.optionalQrisText = 'Maybank'
						} else {
							this.optionalQris = require('./../assets/image/payment2/gopay.png')
							this.optionalQrisText = 'OVO'
						}
						
						this.e1 = 97;
					}

					this.loadingVa = false
				} catch (error) {
					console.log(error)
				}
			}
		},
  },
  mounted() {
		this.user = JSON.parse(this.userData)
  }
};
</script>

<style scoped lang="scss">
.v-stepper {
  background: transparent !important;
  border-radius: 0 !important;
  overflow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  &.v-stepper--is-booted {
    background: transparent !important;
  }
}
</style>
