<template>
  <div>
    <v-toolbar
    color="pink darken-3"
    dark
  >
    <v-toolbar-title>
      <v-avatar size="40">
        <v-img
          src="@/assets/avatar/avatar.svg"
          lazy-src="@/assets/avatar/avatar.svg"
        ></v-img>
      </v-avatar>
    </v-toolbar-title>

    <v-divider
      class="mx-4"
      inset
      vertical
    ></v-divider>

    <!-- <span class="subheading">{{ user.nama }}</span> -->

    <v-spacer></v-spacer>

    <v-toolbar-items>
      <v-btn text class="text-capitalize" to="/profile">
        Profile
      </v-btn>

      <v-divider
        inset
        vertical
      ></v-divider>

      <v-btn text class="text-capitalize" @click.prevent="logoutUser">
        Sign Out
      </v-btn>
      
    </v-toolbar-items>

  </v-toolbar>
    <!-- <v-card
      :loading="loading"
      class="mx-auto mt-3"
      max-width="250">
      <v-list-item three-line
    >
        <v-list-item-avatar
          size="50"
          class="mt-6"
        >
          <v-avatar>
            <v-img
              src="https://ecs7.tokopedia.net/img/cache/100-square/default_picture_user/default_toped-21.jpg"
            ></v-img>
          </v-avatar>
        </v-list-item-avatar>

        <v-list-item-content style="margin-left: -20px">
          <v-card-title class="subtitle-2">{{ user.nama }}</v-card-title>
          <v-card-subtitle class="caption">Verfied Account</v-card-subtitle>
        </v-list-item-content>
      </v-list-item>
      
      <v-divider></v-divider> -->
<!-- 
      <v-card min-height="20" tile flat color="grey lighten-3">
        <v-card-subtitle>Account</v-card-subtitle>
      </v-card> -->
      <!-- <v-list dense="">
        <router-link to="/profile" style="text-decoration: none">
          <v-list-item>
            <v-list-item-icon>
              <v-icon small="">mdi-cog</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Settings</v-list-item-title>
          </v-list-item>
        </router-link>
        <v-list-item @click.prevent="logoutUser">
          <v-list-item-icon>
            <v-icon small="">mdi-arrow-left</v-icon>
          </v-list-item-icon>
          <v-list-item-title class="red--text">Sign Out</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-card> -->
  </div>
</template>

<script>
export default {
  data () {
    return {
      user: [],
    }
  }, 
  computed: {
    userData() {
      return this.$store.state.authData.loggedInUser
    }
  },
  methods: {
    logoutUser() {
      localStorage.removeItem("userInfo")
      localStorage.removeItem("access-token")
      localStorage.removeItem("profile")
      window.location = "/"
    }
  },
  mounted () {
    this.user = JSON.parse(this.userData)
  },
}
</script>
