<template>
  <div>
    <v-card
      class="mx-auto"
      color="white"
      max-width="600"
      flat
      tile
    >
      <v-img
        :aspect-ratio="16/9"
        src="@/assets/image/bg-1.jpg"
        lazy-src="@/assets/image/bg-1.jpg"
        height="230"
      >
        <template v-slot:placeholder>
          <v-row
            class="fill-height ma-0"
            align="center"
            justify="center"
          >
            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
          </v-row>
        </template>
        <div class="fill-height bottom-gradient">
          <v-list-item three-line class="mt-10 pt-12">
            <v-list-item-content class="white--text">
              <div class="overline mb-4 font-weight-black">DRAMA</div>
              <v-list-item-title class="headline mb-1 font-weight-bold">IMPIAN 1000 Pulau</v-list-item-title>
              <v-list-item-subtitle class="white--text">Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </div>
      </v-img>
      <v-card-text
        class="pt-4 grey lighten-5"
        style="position: relative;"
      >
        <v-btn
          absolute
          color="pink darken-3"
          class="white--text"
          fab
          right
          top
          large
        >
          <v-icon>mdi-play</v-icon>
        </v-btn>
        <v-row>
          <v-col cols="4">
            <v-icon class="mr-1" color="pink darken-3">mdi-calendar</v-icon> <span class="black--text font-weight-bold">2018</span>
          </v-col>
          <v-col cols="5">
            <v-icon class="mr-1" color="pink darken-3">mdi-clock</v-icon> <span class="black--text font-weight-bold">1H 23M</span>
          </v-col>
        </v-row>
        <div class="mb-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos odit inventore rerum aperiam culpa autem. Quis sed laborum consequuntur quisquam eaque ipsum, debitis impedit veniam nesciunt laboriosam qui, quas corrupti.
        </div>
        <div class="mb-2">
          <v-btn color="pink darken-3 white--text" outlined="" small>
            <v-icon class="mr-2">mdi-play</v-icon>
            <span class="text-capitalize">Watch Now</span>
          </v-btn>
        </div>
      </v-card-text>
    </v-card>

    <v-row>
      <v-col>
        <v-list
          subheader
          three-line
        >
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="font-weight-bold">Cast</v-list-item-title>
              <v-col 
                cols="3" 
                v-for="cast in casts"
                :key="cast"
              >
                <v-avatar
                  class="elevation-6"
                >
                  <v-img 
                    :src="cast.image" 
                    :lazy-src="cast.image"
                    aspect-ratio="1"
                  >
                    <template v-slot:placeholder>
                      <v-row
                        class="fill-height ma-0"
                        align="center"
                        justify="center"
                      >
                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                      </v-row>
                    </template>
                  </v-img>
                </v-avatar>
                <v-list-item-subtitle class="col-12 text-truncate">{{ cast.cast_name }}</v-list-item-subtitle>
              </v-col>
              <v-col
                cols="3"
              >
                <v-avatar color="grey" class="elevation-6">
                  <v-icon class="pink darken-3 white--text">mdi-chevron-right</v-icon>
                </v-avatar>
                <v-list-item-subtitle class="col-12 text-truncate">more</v-list-item-subtitle>
              </v-col>
            </v-list-item-content>
          </v-list-item>
        </v-list>        
      </v-col>
    </v-row>

    <v-row>
      <v-col
        v-for="(item, i) in items"
        :key="i"
        cols="12"
        style="margin-top:-30px"
      >
        <v-card
          :color="item.color"
          dark
          tile
        >
          <div class="d-flex flex-no-wrap justify-space-between">
            <div>
              <v-card-title
                class="headline"
                v-text="item.title"
              ></v-card-title>
            
              <v-card-subtitle v-text="item.artist"></v-card-subtitle>
            </div>

            <v-avatar
              class="ma-3"
              size="125"
              tile
            >
              <v-img :src="item.src"></v-img>
            </v-avatar>
          </div>
        </v-card>
      </v-col>
      <v-col
        v-for="(item, i) in soundtrack"
        :key="i"
        cols="12"
        style="margin-top:-30px"
      >
        <v-card
          :color="item.color"
          dark
          tile
        >
          <div class="d-flex flex-no-wrap justify-space-between">
            <div>
              <v-card-title
                class="headline"
                v-text="item.title"
              ></v-card-title>

              <v-card-subtitle class="caption" v-text="item.artist"></v-card-subtitle>
              <v-btn color="pink darken-3 white--text ml-2" small tile>
                <v-icon class="mr-2">mdi-play</v-icon>
                <span>OST Official</span>
              </v-btn>
            </div>

            <v-avatar
              class="ma-3"
              size="125"
              tile
            >
              <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/k2g57V3zV04" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
              <v-img :src="item.src"></v-img>
            </v-avatar>
          </div>
        </v-card>
      </v-col>
    </v-row>

    <v-row
      class="mb-12 mx-1 pb-4"
    >
      <v-col
        v-for="gallery in galleries"
        :key="gallery"
        class="d-flex child-flex"
        cols="4"
        style="padding: 2px !important"
      >
        <v-card flat tile class="d-flex">
          <v-img
            :src="gallery.image"
            :lazy-src="gallery.image"
            aspect-ratio="1"
            class="grey lighten-2 white--text align-end"
            
          >
            <template v-slot:placeholder>
              <v-row
                class="fill-height ma-0"
                align="center"
                justify="center"
              >
                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
              </v-row>
            </template>
          </v-img>
        </v-card>
      </v-col>
      <v-col
        cols="4"
        style="padding: 2px !important"
      >
        <v-avatar tile color="grey" size="95">
          <v-icon class="white--text" x-large="">mdi-chevron-right</v-icon>
        </v-avatar>
      </v-col>
    </v-row>
    
    <!-- <v-row>
      <v-col class="mb-12 pb-12">
        <v-list
          subheader
          three-line
        >
          <v-subheader>User Controls</v-subheader>

          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>Content filtering</v-list-item-title>
              <v-list-item-subtitle>Set the content filtering level to restrict appts that can be downloaded</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-divider></v-divider>

          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>Content filtering</v-list-item-title>
              <v-list-item-subtitle>Set the content filtering level to restrict appts that can be downloaded</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

        </v-list>

        <v-divider></v-divider>
        
      </v-col>
    </v-row> -->
  </div>
</template>

<script>
// import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import { mapGetters, mapActions } from "vuex";
export default {
  components: {
    // VueSlickCarousel
  },
  data: () => ({
    settings: {
      "dots": false,
      "focusOnSelect": true,
      "infinite": false,
      "speed": 500,
      "slidesToShow": 4,
      "slidesToScroll": 1,
      "touchThreshold": 5,
    },
    casts: [
      {
        name: "Yorikho Angeline",
        cast_name: "Nabila",
        image: require('./../../assets/image/cast/Yorikho Angeline - Nabila.jpg')
      },
      {
        name: "Arsenda Rochmana",
        cast_name: "Galang Kecil",
        image: require('./../../assets/image/cast/Arsenda Rochmana - Galang Kecil.jpg')
      },
      {
        name: "Asri Welas",
        cast_name: "Mpok Zaenab",
        image: require('./../../assets/image/cast/Asri Welas - Mpok Zaenab.jpg')
      },
    ],
    galleries: [
      {
        image: require('./../../assets/image/pict-1.jpg')
      },
      {
        image: require('./../../assets/image/pict-2.jpg')
      },
      {
        image: require('./../../assets/image/pict-3.jpg')
      },
      {
        image: require('./../../assets/image/pict-4.jpg')
      },
      {
        image: require('./../../assets/image/pict-5.jpg')
      },
    ],
    items: [
      {
        color: '#AD1457',
        src: 'https://c1.staticflickr.com/6/5481/10527730975_170fc39d63_b.jpg',
        title: 'Jean-Luc Godard',
        artist: 'Produser',
      },
    ],
    soundtrack: [
      {
        color: '#000000',
        src: 'https://cdn1-production-images-kly.akamaized.net/Ib-Cw-w8HxBjmepcO7cA8QdIWkA=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/47466/original/eka-130627b.jpg',
        title: 'Eka Gustiawan',
        artist: '(Official Soundtrack) Impian 1000 Pulau the Movie OST - Sanubari',
      },
    ],
  }),
  computed: {
    ...mapGetters(["loggedInUser", "loading", "error"])
  },
  methods: {
    validate () {
      if (this.$refs.form.validate()) {
        this.snackbar = true
      }
    },
    ...mapActions(["login"]),
    submitForm() {
      this.loading = true;
      this.login({ identity: this.userInfo.identity, password: this.userInfo.password });
    },
    onScroll (e) {
      // console.log(window.pageYOffset)
      if (typeof window === 'undefined') return
      const top = window.pageYOffset ||   e.target.scrollTop || 0
      this.fab = top > 300
    },
    toTop () {
      this.$vuetify.goTo(0)
    }
  },
  watch: {
    loggedInUser(val) {
      if (val && val.uid && val.uid.length > 0) {
        // this.makeToast("success", "Successfully Logged In");

        setTimeout(() => {
          this.$router.push("/dashboard");
        }, 500);
      }else{
        // console.log('what')
      }
    }
  }
};
</script>

<style lang="scss" scoped>
  .v-btn:before {
    display: none;
  }
  #create .v-speed-dial {
    position: absolute;
  }
  #create .v-btn--floating {
    position: relative;
  }
  .bottom-gradient {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 25%, transparent 150px);
  }
  .text---underline{
    padding-bottom: 20px;
    border-bottom: 6px solid #AD1457;
    line-height: 48px;
  }
</style>
