<template>
  <div>
    <v-card class="mx-auto" color="white" flat tile>
      <v-img
        src="@/assets/image/bg-1.jpg"
        lazy-src="@/assets/image/bg-1.jpg"
        min-height="250"
      >
        <template v-slot:placeholder>
          <v-row
            class="fill-height ma-0"
            align="center"
            justify="center"
          >
            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
          </v-row>
        </template>        
        <div class="caption">
          <div class="caption-inner">
            <v-row>
              <v-col
                cols="8"
                class="mt-4"
              >
                <v-card
                  color="transparent"
                  flat
                >
                  <v-card-text>
                    <div class="my-4 display-4 font-weight-black white--text">
                      <v-img
                        src="@/assets/image/poster-title.png"
                        width="600"
                      ></v-img>
                    </div>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </div>
        </div>
      </v-img>
    </v-card>

    <v-card flat tile class="mx-auto pa-3">
      <v-btn text small class="my-1">
        <v-icon class="mr-1" color="pink darken-3" small>mdi-calendar</v-icon> <span class="black--text body-2">2018</span>
      </v-btn>
      <v-btn text>
        <v-icon class="mr-1" color="pink darken-3" small>mdi-clock</v-icon> <span class="black--text body-2">1H 49M</span>
      </v-btn>
      <v-btn text small class="my-1">
        <v-icon class="mr-1" color="pink darken-3" small>mdi-star</v-icon> <span class="black--text body-2">DRAMA</span>
      </v-btn>
      <v-card-text>
        Merasa impian besarnya akan pupus, GALANG (Karel Susanteo), seorang murid SMA kelas 3 di Kepulauan Seribu, bertekad kuat untuk keluar dari pulau, menjejakkan kaki ke perguruan tinggi film di darat (Jakarta). Namun, impian besar Galang bertolak belakang dengan kemauan keras sang AYAH (Rifnu Wikana) yang menginginkan anaknya untuk meneruskan pekerjaannya sebagai nelayan muroami yang illegal, sehingga membuat tali hubungan mereka mulai hancur.
      </v-card-text>
      <v-card-actions class="px-4">
        <v-btn color="pink darken-3 white--text px-4" tile elevation="0" href="https://www.youtube.com/watch?v=t2lspA_KyF8" target="_blank">
          <v-icon class="mr-1">mdi-play</v-icon>
          Trailer
        </v-btn>
        <v-btn href="/movie" color="pink darken-3 white--text px-4" tile elevation="0" outlined="">
          Watch Now
        </v-btn>
      </v-card-actions>
    </v-card>

    <v-expansion-panels accordion="" tile="" class="mb-2 pb-3">
      <v-expansion-panel>
        <v-expansion-panel-header class="subtitle-2" disable-icon-rotate>
          <template v-slot:actions>
            <v-icon color="pink darken-3">mdi-text-subject</v-icon>
          </template>
          Keunikan Film Impian 1000 Pulau
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-card tile flat>
            <v-card-text class="font-weight-bold"><i>“MIMPI akan tercapai apabila dikerjakan dengan penuh INTEGRITAS”</i> - #KamiPunyaMIMPI </v-card-text>
            <v-card-text>
              <v-carousel  :show-arrows="false" height="180">
                <v-carousel-item
                  v-for="quote in quotes"
                  :key="quote.text"
                  class="customerPin"
                >
                  {{ quote.text }}
                </v-carousel-item>
              </v-carousel>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header class="subtitle-2" disable-icon-rotate>
          <template v-slot:actions>
            <v-icon color="pink darken-3">mdi-movie-roll</v-icon>
          </template>
          Sutradara, Produser & Penulis Skenario
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-card tile flat>
            <v-card-text>
              Impian 1000 Pulau" disutradarai oleh Naphtali Ivan dan diproduseri oleh Kevyn Augusta, Jennifer Oktivana, Soleha Sari, dan Yayi Puspita Sari. Film ini merupakan film pertama dari para filmmaker tersebut di mana saat proses pembuatan film ini, mereka masih di bawah umur 20 tahun.
            </v-card-text>
            <v-card-text>
              <v-carousel hide-delimiter-background :show-arrows="false" height="300">
                <v-carousel-item
                  v-for="crewFilm in filmMakers"
                  :key="crewFilm.name"
                >
                    <v-img
                      :src="crewFilm.image"
                      :lazy-src="crewFilm.image"
                      gradient="to top right, rgba(2, 1, 1, 0.2), rgba(2, 1, 1, 0.2)"
                      class="grey lighten-2 white--text align-end"
                      aspect-ratio="1"
                      
                    >
                      <template v-slot:placeholder>
                        <v-row
                          class="fill-height ma-0"
                          align="center"
                          justify="center"
                        >
                          <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                        </v-row>
                      </template>
                      <div class="fill-height bottom-gradient">
                        <v-card-title><span class="font-weight-bold">{{ crewFilm.name }}</span></v-card-title>
                        <v-card-subtitle class="white--text">{{ crewFilm.position }}</v-card-subtitle>
                      </div>
                    </v-img>
                </v-carousel-item>
              </v-carousel>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header class="subtitle-2" disable-icon-rotate>
          <template v-slot:actions>
            <v-icon color="pink darken-3">mdi-image-multiple</v-icon>
          </template>
          Galleri
        </v-expansion-panel-header>
        <v-expansion-panel-content class="innerExPan">
          <v-carousel hide-delimiters height="200">
            <v-carousel-item
              v-for="rowGalleri in galleries"
              :key="rowGalleri.image"
            >
                <v-img
                  :src="rowGalleri.image"
                  :lazy-src="rowGalleri.image"
                  gradient="to top right, rgba(2, 1, 1, 0.2), rgba(2, 1, 1, 0.2)"
                  class="grey lighten-2 white--text align-end"
                  
                >
                  <template v-slot:placeholder>
                    <v-row
                      class="fill-height ma-0"
                      align="center"
                      justify="center"
                    >
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
            </v-carousel-item>
          </v-carousel>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header class="subtitle-2" disable-icon-rotate>
          <template v-slot:actions>
            <v-icon color="pink darken-3">mdi-soundcloud</v-icon>
          </template>
          Original Soundtrack
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-card tile flat>
            <v-card-title class="display-1 font-weight-bold black--text">Sanubari</v-card-title>
            <v-card-subtitle>Eka Gustiwana ft. Prince Husain</v-card-subtitle>
            <v-card-text>
              <div class="mx-auto videoiframe">
                <iframe width="560" height="175" src="https://www.youtube.com/embed/k2g57V3zV04" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header class="subtitle-2" disable-icon-rotate>
          <template v-slot:actions>
            <v-icon color="pink darken-3">mdi-account-star</v-icon>
          </template>
          Pemain Film
        </v-expansion-panel-header>
        <v-expansion-panel-content class="innerExPan">
          <v-carousel hide-delimiters height="400">
            <v-carousel-item
              v-for="pemains in pemain"
              :key="pemains.name"
            >
                <v-img
                  :src="pemains.image"
                  :lazy-src="pemains.image"
                  gradient="to top right, rgba(2, 1, 1, 0.2), rgba(2, 1, 1, 0.2)"
                  class="grey lighten-2 white--text align-end"
                  aspect-ratio="1"
                  
                >
                  <template v-slot:placeholder>
                    <v-row
                      class="fill-height ma-0"
                      align="center"
                      justify="center"
                    >
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-row>
                  </template>
                  <div class="fill-height bottom-gradient">
                    <v-card tile flat color="transparent">
                      <v-card-text>
                        <v-card-title><span class="font-weight-bold">{{ pemains.name }}</span></v-card-title>
                        <v-card-subtitle class="white--text">Sebagai {{ pemains.cast_name }}</v-card-subtitle>
                      </v-card-text>
                    </v-card>
                  </div>
                </v-img>
            </v-carousel-item>
          </v-carousel>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header class="subtitle-2" disable-icon-rotate>
          <template v-slot:actions>
            <v-icon color="pink darken-3">mdi-star</v-icon>
          </template>
          Sponsor
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="3" v-for="row in logos" :key="row">
              <v-img
                :src="row.image"
                :lazy-src="row.image"
                max-width=""
              >
                <template v-slot:placeholder>
                  <v-row
                    class="fill-height ma-0"
                    align="center"
                    justify="center"
                  >
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                  </v-row>
                </template>
              </v-img>
            </v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header class="subtitle-2" disable-icon-rotate>
          <template v-slot:actions>
            <v-icon color="pink darken-3">mdi-handshake</v-icon>
          </template>
          Support
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="3" v-for="row in support" :key="row">
              <v-img
                :src="row.image"
                :lazy-src="row.image"
                max-width=""
              >
                <template v-slot:placeholder>
                  <v-row
                    class="fill-height ma-0"
                    align="center"
                    justify="center"
                  >
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                  </v-row>
                </template>
              </v-img>
            </v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header class="subtitle-2" disable-icon-rotate>
          <template v-slot:actions>
            <v-icon color="pink darken-3">mdi-earth</v-icon>
          </template>
          Social Media
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-card-text class="text-center">
              <v-btn
                v-for="data in socialMedia"
                :key="data.title"
                class="mx-4 black--text"
                icon
                :href="data.link"
                target="_blank"
              >
                <v-icon size="24px">{{ data.icon }}</v-icon>
              </v-btn>
            </v-card-text>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
// import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import { mapGetters, mapActions } from "vuex";
export default {
  components: {
    // VueSlickCarousel
  },
  data: () => ({
    quotes: [
      {
        text: "Berbicara tentang semangat seorang pelajar dari pulau terkecil untuk meraih mimpinya yang anti mainstream dengan kebiasaan anak pulau lainnya"
      },
      {
        text: "Film ini diproduksi, ditulis dan disutradarai oleh pelajar & mahasiswa dengan usia 20 tahun kebawah, dengan hasil professional dan memiliki daya saing tinggi."
      },
      {
        text: "Film ini ingin menyampaikan pesan integritas dan kekuatan kolaborasi dalam menghasilkan Maha Karya yang berdampak bagi pariwisata serta menerapkan nilai-nilai SDGs secara terintegrasi."
      },
      {
        text: "Film ini mengambil lokasi di Kepulauan Seribu, salah satu Target pengembangan Destinasi Wisata Baru (KSPN) yang akan disinergikan dengan Penanaman Mangrove & Pelestarian Penyu."
      },
    ],
    pemain: [
      {
        name: "Yorikho Angeline",
        cast_name: "Nabila",
        image: require('./../../assets/image/cast/Yorikho Angeline - Nabila.jpg')
      },
      {
        name: "Arsenda Rochmana",
        cast_name: "Galang Kecil",
        image: require('./../../assets/image/cast/Arsenda Rochmana - Galang Kecil.jpg')
      },
      {
        name: "Asri Welas",
        cast_name: "Mpok Zaenab",
        image: require('./../../assets/image/cast/Asri Welas - Mpok Zaenab.jpg')
      },
      {
        name: "Chicco Kurniawan",
        cast_name: "Rahman",
        image: require('./../../assets/image/cast/Chicco Kurniawan - Rahman.jpg')
      },
      {
        name: "Rahmet Ababil",
        cast_name: "Adjie",
        image: require('./../../assets/image/cast/Rahmet Ababil - Adjie.jpg')
      },
      {
        name: "Rifnu Wikana",
        cast_name: "Daeng (Ayah Galang)",
        image: require('./../../assets/image/cast/Rifnu Wikana - Daeng (Ayah Galang).jpg')
      },
      {
        name: "Wina Marrino",
        cast_name: "Ibu Galang",
        image: require('./../../assets/image/cast/Wina Marrino - Ibu Galang.jpg')
      },
      {
        name: "Karel Susanteo",
        cast_name: "Galang",
        image: require('./../../assets/image/cast/Karel Susanteo - Galang.jpg')
      }
    ],
    galleries: [
      {
        image: require('./../../assets/image/pict-1.jpg')
      },
      {
        image: require('./../../assets/image/pict-2.jpg')
      },
      {
        image: require('./../../assets/image/pict-3.jpg')
      },
      {
        image: require('./../../assets/image/pict-4.jpg')
      },
      {
        image: require('./../../assets/image/pict-5.jpg')
      },
      {
        image: require('./../../assets/image/pict-6.jpg')
      },
    ],
    filmMakers: [
      {
        name: "Ernest Lesmana",
        position: "Penulis Skenario",
        image: require('./../../assets/image/crew/Ernest Lesmana - Penulis Skenario.jpeg')
      },
      {
        name: "Kevyn Augusta",
        position: "Produser",
        image: require('./../../assets/image/crew/Kevyn Augusta - Produser.jpeg')
      },
      {
        name: "Naphtali Ivan",
        position: "Sutradara",
        image: require('./../../assets/image/crew/Naphtali Ivan - Sutradara.jpeg')
      },
    ],
    logos: [
      {
        image: require('./../../assets/brand/new/revolusi-mental.png')
      },
      {
        image: require('./../../assets/brand/new/transjakarta.png')
      },
      {
        image: require('./../../assets/brand/new/traveloka.png')
      },
      {
        image: require('./../../assets/brand/new/protelindo.png')
      },
      {
        image: require('./../../assets/brand/new/bca.png')
      },
      {
        image: require('./../../assets/brand/new/indonesia-re.png')
      }
    ],
    support: [
      {
        image: require('./../../assets/support-2/1.png'),
      },
      {
        image: require('./../../assets/support-2/3.png'),
      },
      {
        image: require('./../../assets/support-2/4.png'),
      },
      {
        image: require('./../../assets/support-2/5.png'),
      },
      {
        image: require('./../../assets/support-2/6.png'),
      },
      {
        image: require('./../../assets/support-2/7.png'),
      },
      {
        image: require('./../../assets/support-2/8.png'),
      },
      {
        image: require('./../../assets/support-2/9.png'),
      },
      {
        image: require('./../../assets/support-2/10.png'),
      },
    ],
    socialMedia: [
      {
        title: "facebook",
        icon: "mdi-facebook",
        link: "https://www.facebook.com/Yukflix-104934717930723",
      },
      {
        title: "instagram",
        icon: "mdi-instagram",
        link: "https://www.instagram.com/yuk.flix/",
      },
      {
        title: "youtube",
        icon: "mdi-youtube",
        link: "",
      },
    ],
  }),
  computed: {
    ...mapGetters(["loggedInUser", "loading", "error"])
  },
  methods: {
    validate () {
      if (this.$refs.form.validate()) {
        this.snackbar = true
      }
    },
    ...mapActions(["login"]),
    submitForm() {
      this.loading = true;
      this.login({ identity: this.userInfo.identity, password: this.userInfo.password });
    },
    onScroll (e) {
      // console.log(window.pageYOffset)
      if (typeof window === 'undefined') return
      const top = window.pageYOffset ||   e.target.scrollTop || 0
      this.fab = top > 300
    },
    toTop () {
      this.$vuetify.goTo(0)
    }
  },
  watch: {
    loggedInUser(val) {
      if (val && val.uid && val.uid.length > 0) {
        // this.makeToast("success", "Successfully Logged In");

        setTimeout(() => {
          this.$router.push("/dashboard");
        }, 500);
      }else{
        // console.log('what')
      }
    }
  }
};
</script>

<style lang="scss" scoped>
  .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background: rgba(2, 1, 1, 0.5);
    .caption-inner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 30px;
      h2 {
        font-weight: 900;
        font-size: 29px;
        line-height: 1.3;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .v-btn:before {
    display: none;
  }
  #create .v-speed-dial {
    position: absolute;
  }
  #create .v-btn--floating {
    position: relative;
  }
  .bottom-gradient {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 25%, transparent 150px);
  }
  .text---underline{
    padding-bottom: 20px;
    border-bottom: 6px solid #AD1457;
    line-height: 48px;
  }
  .videoiframe {
    iframe {
      width: 100% !important;
      height: 175px !important;
    }
  }
  ::v-deep {
    .innerExPan >.v-expansion-panel-content__wrap {
        padding: 0 !important;
        
    }
  }
  ::v-deep {
    .customerPin >.theme--dark.v-btn.v-btn--icon{
      color: #AD1457 !important;
    }
  }
</style>
