<template>
  <v-app>
    <v-app-bar app color="white" light="" tile fixed>
      <v-app-bar-nav-icon v-if="user" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <router-link to="/">
        <div class="d-flex align-center">
          <v-img
            contain
            src="@/assets/yukflix-05.png"
            transition="scale-transition"
            width="150"
          />
        </div>
      </router-link>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" absolute left temporary v-if="user">
      <v-list-item three-line>
        <v-list-item-avatar
          size="50"
          class="mt-6"
           @click="$router.push('/dashboard')"
           style="cursor:pointer"
        >
          <v-avatar>
            <v-img
              src="@/assets/avatar/avatar.svg"
            ></v-img>
          </v-avatar>
        </v-list-item-avatar>

        <v-list-item-content style="margin-left: -20px; cursor:pointer"  @click="$router.push('/dashboard')">
          <v-card-title class="subtitle-2">{{ user.nama }}</v-card-title>
          <v-card-subtitle class="caption">Verified Account</v-card-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>
      
      <v-card min-height="20" tile flat color="grey lighten-3">
        <v-card-subtitle>Transaction</v-card-subtitle>
      </v-card>
      <v-list dense="">
        <router-link to="/transaction" style="text-decoration: none">
          <v-list-item>
            <v-list-item-icon>
              <v-icon small="">mdi-clock</v-icon>
            </v-list-item-icon>
            <v-list-item-title>History</v-list-item-title>
          </v-list-item>
        </router-link>
      </v-list>
      <v-card min-height="20" tile flat color="grey lighten-3">
        <v-card-subtitle>Account</v-card-subtitle>
      </v-card>
      <v-list dense="">
        <router-link to="/profile" style="text-decoration: none">
          <v-list-item>
            <v-list-item-icon>
              <v-icon small="">mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Profile</v-list-item-title>
          </v-list-item>
        </router-link>
        <router-link to="/referral" style="text-decoration: none">
          <v-list-item>
            <v-list-item-icon>
              <v-icon small="">mdi-handshake</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Referral</v-list-item-title>
          </v-list-item>
        </router-link>
        <router-link to="/settings" style="text-decoration: none">
          <v-list-item>
            <v-list-item-icon>
              <v-icon small="">mdi-cog</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Settings</v-list-item-title>
          </v-list-item>
        </router-link>
        <v-list-item @click.prevent="logoutUser">
          <v-list-item-icon>
            <v-icon small="">mdi-arrow-left</v-icon>
          </v-list-item-icon>
          <v-list-item-title class="red--text">Sign Out</v-list-item-title>
        </v-list-item>
      </v-list>

      <!-- <v-list nav dense>
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
          <v-list-item>
            <v-list-item-title>Dashboard</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Bar</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Fizz</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Buzz</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list> -->
    </v-navigation-drawer>

    <v-sheet>
      <v-content >
        <router-view></router-view>
        <div class="mb-5 pb-5"></div>
      </v-content>
    </v-sheet>
    <v-bottom-navigation fixed grow color="black" height="60" tile class="custom-btn">
      <v-btn to="/">
        <span>Home</span>
        <v-icon>mdi-home-outline</v-icon>
      </v-btn>

      <v-btn to="/help">
        <span>FAQ</span>
        <v-icon>mdi-face-agent</v-icon>
      </v-btn>

      <v-btn to="/login" v-if="!user">
        <span>me</span>
        <v-icon>mdi-account-outline</v-icon>
      </v-btn>
      <v-btn to="/dashboard" v-else>
        <span>{{ user != '' ? user.nama : '' }}</span>
        <v-avatar size="30">
          <v-img
            src="@/assets/avatar/avatar.svg"
            lazy-src="@/assets/avatar/avatar.svg"
          >
          </v-img>
        </v-avatar>
      </v-btn>
    </v-bottom-navigation>
  </v-app>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
      drawer: false,
      user: [],
    }
  },
  computed: {
    userData() {
      return this.$store.state.authData.loggedInUser
    }
  },
  methods: {
    sidebarDialogClose () {
      this.sidebarDialogVisible = false
    },
    logoutUser() {
      localStorage.removeItem("userInfo")
      localStorage.removeItem("access-token")
      localStorage.removeItem("profile")
      window.location = "/"
    }
  },
  mounted () {
    this.user = JSON.parse(this.userData)
  },
};
</script>

<style lang="scss" scoped>
  // html,
  // body,
  // #app {
  //   width: 100%;
  //   height: 100%;
  // }
  .v-application--wrap {
    min-height: 100% !important;
  }
  .v-item-group.v-bottom-navigation--fixed {
    height: 60px !important;
    .v-btn__content {
      font-size: 0.875rem !important;
    }
  }
  .v-item-group.v-bottom-navigation .v-btn.v-btn--active .v-btn__content {
    color: var(--primary) !important;
  }
  ::v-deep {
    .custom-btn .v-btn:not(.v-btn--round).v-size--default{
      height: 64px !important;
    }
  }
</style>
