<template>
  <div class="about px-6">
    <!-- <v-row class=""> -->
      <v-form
        ref="form"
        v-model="valid"
        class="mx-2 mt-12"
        v-show="confirmEmail == false"
      >
        <v-row>
          <span class="display-2 pink--text text--darken-3 ml-2 mt-2 font-weight-bold">Forgot Password</span>
          <v-col
            cols="12"
          >
            <v-text-field
              v-model="userInfo.email"
              label="Email Address"
              :rules="emailRules"
              required
              class="blo my-2"
              outlined=""
              rounded=""
              hide-details=""
            ></v-text-field>
          </v-col>

          <v-col
            cols="12"
          >
            <v-btn
              
              large
              block
              depressed
              rounded=""
              height="50"
              :disabled="!valid"
              color="pink darken-3"
              class="mr-4 my-2 white--text"
              @click="submitForm(userInfo)"
              :loading="loading"
              hide-details=""
            >
              Send
            </v-btn>
            <!-- <div class="blue--text subtitle-2 text-right"><router-link to="/login"> Sign In</router-link></div> -->
          </v-col>
        </v-row>
        <div class="grey--text subtitle-2 mt-12 pt-12 text-center">Do you have account? <router-link to="/register">Sign Up</router-link></div>
      </v-form>

      <v-card 
        class="my-8 py-4 text-center" 
        flat 
        color="transparent"
        v-show="confirmEmail == true"
      >
        <v-icon size="150" color="pink darken-3">mdi-email-send</v-icon>
        <p class="body-1">{{ notifAcc }}</p>
        
        <v-icon size="50" color="pink darken-3">mdi-dots-horizontal</v-icon>
      </v-card>            
    <!-- </v-row> -->
    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      color="red"
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import AuthService from '@/services/AuthService'
export default {
  components: {
  },
  data: () => ({
    loading: false,
    confirmEmail: false,
    userInfo: {
      email: '',
    },
    valid: true,
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    snackbar: false,
    text: 'Something wrong! please wait...',
		timeout: 3000,
    notifAcc: '',
  }),
  methods: {
    validate () {
      if (this.$refs.form.validate()) {
        this.snackbar = true
      }
    },
    async submitForm() {
      try {
        const data = {
          'email': this.userInfo.email
        }
        console.log(data);
				const response = await AuthService.forgotPassword(data)
				console.log(response);
				const status     = response.data.success
				
				if(status == true) {
					this.notifAcc = response.data.message
          console.log('kirim email')
          this.confirmEmail = true
				} else {
					this.notifAcc = response.data.message
					this.makeSnackbar(response.data.message) 
				}
      
      } catch (error) {
        console.log(error)
      }
    },
    makeSnackbar(val) {
      this.text = val
      this.snackbar = true
      this.loadingRegister  = false
    },
  },
};
</script>

<style lang="scss" scoped>
  .inspire {
    height: 100vh
  }
</style>
