<template>
  <div class="about px-6 text-center inspire">
    <!-- <v-row class=""> -->
      <v-form
        ref="form"
        v-model="valid"
        class="mx-2 mt-12">
        <v-row>
          <span class="display-2 pink--text text--darken-3 ml-2 mt-2 font-weight-bold">Login</span>
          <v-col
            cols="12"
          >
            <v-text-field
              v-model="userInfo.email"
              label="Email Address"
              :rules="emailRules"
              required
              class="blo my-2"
              hide-details=""
              outlined=""
              rounded=""
            ></v-text-field>
          </v-col>

          <v-col
            cols="12"
          >
            <v-text-field
              v-model="userInfo.password"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="passwordRules"
              :type="showPassword ? 'text' : 'password'"
              name="password"
              label="Password"
              class="blo my-2"
              hide-details=""
              outlined=""
              rounded=""
              @click:append="showPassword = !showPassword"
            ></v-text-field>
          </v-col>
          <v-col
            cols="12"
          >
            <v-btn
              
              large
              block
              depressed
              rounded=""
              height="50"
              :disabled="!valid"
              color="pink darken-3"
              class="mr-4 my-2 white--text"
              @click="submitForm(userInfo)"
              :loading="loadingCredentials"
              hide-details=""
            >
              Sign In
            </v-btn>
            <div class="blue--text subtitle-2 text-right"><router-link to="/forget-password">Forgot Password?</router-link></div>
          </v-col>
        </v-row>
        <div class="grey--text subtitle-2 mt-12 pt-12 mx-auto text-center">Do you have account?<router-link to="/register"> Sign Up</router-link></div>
      </v-form>            
    <!-- </v-row> -->
    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      color="red"
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  components: {
  },
  data: () => ({
    loadingCredentials: false,
    userInfo: {
      email: '',
      password: '',
    },
    valid: true,
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    showPassword: false,
    passwordRules: [
      v => !!v || 'password is required',
    ],
    snackbar: false,
    text: 'Email or Password is incorrect',
    timeout: 2000,
  }),
  computed: {
    ...mapGetters(["loggedInUser", "loading", "error"])
  },
  methods: {
    validate () {
      if (this.$refs.form.validate()) {
        this.snackbar = true
      }
    },
    ...mapActions(["login"]),
    submitForm() {
      this.loadingCredentials = true;
      this.login({ email: this.userInfo.email, pass: this.userInfo.password });
    },
    makeSnackbar(val) {
      this.snackbar = true
      this.loadingCredentials  = false
      this.text  = val
    },
  },
  watch: {
    // loggedInUser(val) {
    loggedInUser() {
      // console.log('gagal login');
      //if (val && val.uid && val.uid.length > 0) {
        // this.makeToast("success", "Successfully Logged In");
        // console.log('what')
        setTimeout(() => {
          window.location = '/dashboard'
        }, 500);
      //}else{
        // console.log('what')
      //}
    },
    error(val) {
      if (val != null) {
        this.makeSnackbar(val);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
  // .inspire {
  //   height: 100vh
  // }
  .v-application .my-2{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
</style>
