<template>
  <div class="about px-6">
    <v-form
      ref="form"
      v-model="valid"
      class="mx-2 my-12"
      v-show="confirmEmail == false"
    >
      <v-row>
        <span class="display-2 pink--text text--darken-3 ml-2 mb-2 font-weight-bold">Register</span>
        <v-text-field
          v-model="userInfo.username"
          label="Username"
          :rules="usernameRules"
          required
          class="my-1"
          outlined=""
          rounded
        ></v-text-field>

        <v-text-field
          v-model="userInfo.phoneNumber"
          label="Phone Number"
          :rules="phoneNumberRules"
          type="number"
          required
          class="my-1"
          outlined=""
          rounded
        ></v-text-field>

        <v-text-field
          v-model="userInfo.email"
          label="Email"
          :rules="emailRules"
          required
          class="my-1"
          outlined=""
          rounded
        ></v-text-field>

        <v-text-field
          v-model="userInfo.password"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="passwordRules"
          :type="showPassword ? 'text' : 'password'"
          name="password"
          label="Password"
          required
          class="my-1"
          outlined=""
          rounded
          @click:append="showPassword = !showPassword"
        ></v-text-field>

        <v-text-field
          v-model="userInfo.passwordConf"
          :append-icon="showPasswordConf ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="passwordConfRules"
          :type="showPasswordConf ? 'text' : 'password'"
          name="password_confirmation"
          label="Password Confirmation"
          required
          class="my-1"
          outlined=""
          rounded
          @click:append="showPasswordConf = !showPasswordConf"
        ></v-text-field>

        <v-select
          v-model="userInfo.gender"
          :items="sex"
          item-text="name"
          item-value="id"
          class="my-1"
          outlined=""
          rounded
          required
        >
          <template v-slot:label>
            <div>
              Sex
            </div>
          </template>
        </v-select>

        <v-textarea
          v-model="userInfo.alamat"
          class="my-1"
          outlined=""
          rounded
        >
          <template v-slot:label>
            <div>
              Address <small>(optional)</small>
            </div>
          </template>
        </v-textarea>

        <v-text-field
          v-model="userInfo.referal"
          class="my-1"
          outlined=""
          rounded
        >
          <template v-slot:label>
            <div>
              Referral Code <small>(optional)</small>
            </div>
          </template>
        </v-text-field>

        <v-img :src="captchaLink"></v-img>
        <v-btn class="text-right my-3 ml-2" @click="changeCaptcha" :loading="loadingCaptcha">
          <v-icon>mdi-replay</v-icon>
        </v-btn>
        <!-- <span>Reset code captcha</span> -->

        <v-text-field
          v-model="userInfo.kode"
          label="Code Captcha"
          class="my-1 mt-4"
          outlined=""
          rounded
        ></v-text-field>
        
        <v-btn
          large
          block
          depressed
          rounded=""
          hide-details=""
          height="50"
          :disabled="!valid"
          color="pink darken-3"
          class="mr-4 my-2 white--text"
          @click="submitForm(userInfo)"
          :loading="loadingRegister"
        >
          Submit
        </v-btn>
      </v-row>
    </v-form>            
    <v-card 
      class="my-8 py-4 text-center" 
      flat 
      color="transparent"
      v-show="confirmEmail == true"
    >
      <v-icon size="150" color="pink darken-3">mdi-email-send</v-icon>
      <p class="body-1">Kami mengirim link untuk aktivasi akun Anda. Silahkan buka email Anda</p>
      
      <v-icon size="50" color="pink darken-3">mdi-dots-horizontal</v-icon>
    </v-card>
    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      color="red"
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
// import Password from 'vue-password-strength-meter'
export default {
  components: {
    // Password
  },
  data: () => ({
    loadingRegister: false,
    confirmEmail: false,
    userInfo: {
      username: '',
      email: '',
      phoneNumber: '',
      password: '',
      passwordConf: '',
      referal: '',
      kode: '',
      alamat: '',
      gender: '',
    },
    captchaLink: '',
    sex: [
      {
        id: 0,
        name: 'Female'
      },
      {
        id: 1,
        name: 'Male'
      }
    ],
    valid: true,
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    usernameRules: [
      v => !!v || 'Username is required',
    ],
    phoneNumberRules: [
      v => !!v || 'Phone Number is required',
    ],
    showPassword: false,
    showPasswordConf: false,
    passwordRules: [
      v => !!v || 'Password is required',
    ],
    passwordConfRules: [
      v => !!v || 'Password Confirmation is required',
    ],
    snackbar: false,
    text: 'Something wrong! please wait...',
    timeout: 3000,
  }),
  computed: {
    ...mapGetters(["loggedInUser", "loading", "error"])
  },
  methods: {
    validate () {
      if (this.$refs.form.validate()) {
        this.snackbar = true
      }
    },
    ...mapActions(["signUserUp"]),
    submitForm() {
      this.loadingRegister = true;
      this.signUserUp({ 
        email: this.userInfo.email, 
        pass: this.userInfo.password, 
        confirmpass: this.userInfo.passwordConf, 
        nama: this.userInfo.username, 
        phone: this.userInfo.phoneNumber, 
        coderef: this.userInfo.referal == undefined ? '' : this.userInfo.referal,
        kode: this.userInfo.kode,
        alamat: this.userInfo.alamat,
        gender: this.userInfo.gender,
      });
    },
    makeSnackbar(val) {
      this.text = val
      this.snackbar = true
      this.loadingRegister  = false
    },
    changeCaptcha() {
      this.captchaLink = ''
      setTimeout(() => {
        this.captchaLink = 'https://api.yukflix.com/get-captcha'
      }, 500);
    }
  },
  watch: {
    loggedInUser() {
      console.log('confirmation email')
      this.confirmEmail = true
    },
    error(val) {
      console.log(val)
      console.log('cannot register')
      if (val != '') {
        console.log('show snackbar')

        setTimeout(() => {
          this.makeSnackbar(val);
        }, 1000);

      }
    }
  },
  mounted () {
    this.userInfo.referal = this.$route.query.ref != '' ? this.$route.query.ref : '';
    this.changeCaptcha()
  },
};
</script>

<style lang="scss" scoped>
  .inspire {
    height: 100vh
  }
  .v-application .my-2{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
</style>
