<template>
  <div class="about px-6">
    <v-col cols="12" class="py-6 my-4">
      <span class="display-2 pink--text text--darken-3 ml-2 mt-2 font-weight-bold">Reset Password</span>

      <v-form
        ref="form"
        v-model="valid"
        class="mx-2">
        <v-row>
          <v-col
            cols="12"
          >
            <v-text-field
              v-model="userInfo.email"
              label="Email Address"
              :rules="emailRules"
              required
              class="blo my-2"
              outlined=""
              rounded=""
              hide-details=""
            ></v-text-field>
          </v-col>

          <v-col
            cols="12"
          >
            <v-text-field
              v-model="userInfo.password"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="passwordRules"
              :type="showPassword ? 'text' : 'password'"
              name="password"
              label="Password"
              class="blo my-2"
              outlined=""
              rounded=""
              hide-details=""
              @click:append="showPassword = !showPassword"
            ></v-text-field>
          </v-col>
          <v-col
            cols="12"
          >
            <v-btn
              large
              block
              depressed
              rounded=""
              height="50"
              :disabled="!valid"
              color="pink darken-3"
              class="mr-4 my-2 white--text"
              @click="submitForm(userInfo)"
              :loading="loadingCredentials"
            >
              Sign In
            </v-btn>
            <div class="blue--text subtitle-2 text-right mt-2"><router-link to="/forget-password" style="text-decoration: none">Forgot Password?</router-link></div>
          </v-col>
        </v-row>
      </v-form>            
      <div class="grey--text subtitle-2 mt-12 pt-12 text-center">Do you have account?<router-link to="/register" style="text-decoration: none"> Sign Up</router-link></div>
    </v-col>
    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      color="red"
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
// import { mapGetters, mapActions } from "vuex";
import AuthService from '@/services/AuthService'
export default {
  components: {
  },
  data: () => ({
    loadingCredentials: false,
    userInfo: {
      email: '',
      password: '',
    },
    valid: true,
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    showPassword: false,
    passwordRules: [
      v => !!v || 'password is required',
    ],
    snackbar: false,
    text: 'Email or Password is incorrect',
    timeout: 2000,
  }),
  // computed: {
  //   ...mapGetters(["loggedInUser", "loading", "error"])
  // },
  methods: {
    validate () {
      if (this.$refs.form.validate()) {
        this.snackbar = true
      }
    },
    // ...mapActions(["resetPassword"]),
    // submitForm() {
    //   this.loadingCredentials = true;
    //   this.resetPassword({ email: this.userInfo.email, pass: this.userInfo.password });
    // },
    async submitForm() {
      try {
        const data = { email: this.userInfo.email, pass: this.userInfo.password }
        const response = await AuthService.resetPassword(data)
        const user     = response.data.detailUser

        localStorage.setItem("access-token", user.token);
				localStorage.setItem("userInfo", JSON.stringify(user));
				
				setTimeout(() => {
          window.location = '/dashboard'
        }, 500);
      
      } catch (error) {

        localStorage.removeItem("userInfo");
        localStorage.removeItem("access-token");
				localStorage.removeItem("profile");
				
				this.makeSnackbar();
        
      }
    },
    makeSnackbar() {
      this.snackbar = true
      this.loadingCredentials  = false
    },
  },
  watch: {
    // loggedInUser(val) {
    loggedInUser() {
      // console.log('gagal login');
      //if (val && val.uid && val.uid.length > 0) {
        // this.makeToast("success", "Successfully Logged In");
        // console.log('what')
        setTimeout(() => {
          window.location = '/dashboard'
        }, 500);
      //}else{
        // console.log('what')
      //}
    },
    error(val) {
      if (val != null) {
        this.makeSnackbar();
      }
    }
  }
};
</script>

<style lang="scss" scoped>
  .v-application .my-2{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
</style>
